﻿@using Microsoft.Ajax.Utilities
@model Presentation.Web.Models.Nominee.IldsjaelDetailsViewModel
@{
    ViewBag.Title = @Model.Name;
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="contestActiveElemDetails hidden" data-isActive="@Model.IsActive"></div>

<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row header-container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="h1 h1-header  text-white">
                            @*Check if nominee has title*@
                            @{
                                if (String.IsNullOrEmpty(@Model.Title))
                                {
                                    <strong>@Model.Name</strong>
                                }
                                else
                                {
                                    <strong>@Model.Name, @Model.Title,</strong>
                                }
                            }
                        </p>
                            <p class="h1 h1-header ">
                                <strong class="text-white">skal være </strong>
                                <strong class="text-header-yellow">Årets Ildsjæl</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <p class="p-header  text-header-p-gray">
                                Når du stemmer,
                                deltager du automatisk i lodtrækningen
                                om 1 års forbrug af brændstof.*
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container details-container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 nominee-details-profile-info-container">
                <div class="row row-eq-height">
                    <div class="col-nominee-details-container-profile-panel">
                        <div class="row">
                            <div class="col-xs-12 nominee-details-name-container">
                                @*Check if nominee has title*@
                                @{
                                    if (String.IsNullOrEmpty(@Model.Title))
                                    {
                                        <h4 class="h4-nominee-details  text-white">@Model.Name</h4>

                                    }
                                    else
                                    {
                                        <h4 class="h4-nominee-details  text-white">@Model.Name, @Model.Title</h4>

                                    }
                                }
                            </div>
                        </div>
                        <div class="row row-flex-2">
                            <div class="col-xs-12 nominee-details-profile-info-ul-container">
                                <ul class="list-inline list-unstyled nominee-details-profile-info-ul">
                                    <li class="pull-left">
                                        <div class="info-panel-container text-center">
                                            <p class=" text-white">Stemmer</p>
                                            <h1 class=" text-white voteCount">@Model.VoteCount</h1>
                                        </div>
                                    </li>
                                    <li class="center-block">
                                        <div class="info-panel-container text-center">
                                            <p class=" text-white">Placering</p>
                                            <h1 class="text-white  rank">@Model.Rank</h1>
                                        </div>
                                    </li>
                                    <li class="pull-right share-li" data-toggle="toggle" data-target="#nomineeDetailsProfileSharePanel">
                                        <div class="info-panel-container text-center share-button">
                                            <p class=" text-white">Del din favorit</p>
                                            <img class="info-panel-share" src="/Content/Images/share.png" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-nominee-details-container-pic">
                        <img class="nominee-details-profile-pic" src="@Model.PictureUrl" />
                        <ul class="list-unstyled text-center nominee-details-profile-panel-share-panel" id="nomineeDetailsProfileSharePanel">
                            <li class="btn btn-info-panel-share fb-share" data-url="@Model.AbsoluteUrl">
                                <div class="share-panel-container  ">
                                    <i class="fa fa-facebook fa-lg"></i>
                                    <p class=" nominee-details-share-panel-text-mobile hidden-xs">Facebook</p>
                                </div>
                            </li>
                            <li class="btn btn-info-panel-share twitter-share">
                                <a class="twitter-link text-white" href="" data-msg="@Model.TwitterShareMessage" data-url="@Model.AbsoluteUrl">
                                    <div class="share-panel-container">
                                        <i class="fa fa-twitter fa-lg"></i>
                                        <p class=" nominee-details-share-panel-text-mobile hidden-xs">Twitter</p>
                                    </div>
                                </a>
                            </li>
                            <li class="btn btn-info-panel-share mail-share" data-guid="@Model.Guid" data-url="@Url.Action("Recommend")">
                                <div class="share-panel-container">
                                    <i class="fa fa-envelope fa-lg"></i>
                                    <p class=" nominee-details-share-panel-text-mobile hidden-xs">Mail</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn-green-font btn btn-default btn-block btn-nominee-info-panel voteBtn" data-guid="@Model.Guid" data-nomineeName="@Model.Name" data-nomineeUrl="@Model.AbsoluteUrl">Stem</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <h5 class=" h5-nominee-details">@Model.Name, @Model.City</h5>
                        <p class=" nominee-details-bread">
                            <small>@Model.Description</small>
                        </p>
                    </div>
                </div>
                <div class="row visible-xs">
                    <div class="col-xs-12">

                        <h5 class=" h5-nominee-details">Hjælp @Model.Name, @Model.City med at vinde</h5>

                        <p class=" nominee-details-bread">
                            <small>
                                Synes du også @Model.Name har fortjent at vinde, kan du hjælpe ham med at få endnu flere stemmer.
                                Her er nogle idéer til, hvordan du kan hjælpe.
                            </small>
                        </p>

                        <ul class="list-inline list-unstyled nominee-details-share-panel">
                            <li class="pull-left btn btn-info-panel-share">
                                <div class="share-panel-container fb-share" data-url="@Model.AbsoluteUrl">
                                    <i class="fa fa-facebook fa-3x"></i>
                                    <p class=" nominee-details-share-panel-text-mobile">Facebook</p>
                                </div>
                            </li>
                            <li class="center-block btn btn-info-panel-share twitter-share">
                                <a class="twitter-link text-white" href="" data-msg="@Model.TwitterShareMessage" data-url="@Model.AbsoluteUrl">
                                <div class="share-panel-container">
                                    <i class="fa fa-twitter fa-3x"></i>
                                        <p class=" ominee-details-share-panel-text-mobile">Twitter</p>
                                </div>
                                </a>
                            </li>
                            <li class="pull-right btn btn-info-panel-share">
                                <div class="share-panel-container mail-share" data-guid="@Model.Guid" data-url="@Url.Action("Recommend")">
                                    <i class="fa fa-envelope fa-3x"></i>
                                    <p class=" nominee-details-share-panel-text-mobile">Mail</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row comments">
                    <div class="col-xs-12">
                        <h5 class=" h5-nominee-details">Derfor stemmer jeg på @Model.Name</h5>

                        <div class="row">
                            <div class="col-xs-12 container"></div>
                            </div>
                        <div class="loader hidden">
                            <div class="row">
                                <div class="col-xs-2 col-xs-offset-5 text-center">
                                    <i class="fa fa-spinner fa-3x fa-spin"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <p class="lead ">Kommentarer hentes</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-xs-offset-3 col-sm-offset-0 load-more">
                                <a href="#" class="load-more-container details">
                                    <div class="show-more text-center">
                                        <img class="center-block" src="/Content/Images/Chevron-down.png" />
                                        <p>vis flere kommentarer</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-5 hidden-xs">
                <h5 class=" h5-nominee-details">Hjælp @Model.Name med at vinde</h5>

                <p class=" nominee-details-bread">
                    <small>
                        Synes du også, @Model.Name har fortjent at vinde, kan du hjælpe med at skaffe endnu flere stemmer.
                        Her er nogle idéer til, hvordan du kan hjælpe.
                    </small>
                </p>

                <h5 class=" h5-nominee-details">Del din støtte</h5>

                <ul class="list-inline list-unstyled nominee-details-share-panel">
                    <li class="pull-left btn btn-info-panel-share fb-share" data-url="@Model.AbsoluteUrl">
                        <div class="share-panel-container">
                            <i class="fa fa-facebook fa-2x"></i>
                            <p>Facebook</p>
                        </div>
                    </li>
                    <li class="center-block btn btn-info-panel-share twitter-share">
                        <a class="twitter-link text-white" href="" data-msg="@Model.TwitterShareMessage" data-url="@Model.AbsoluteUrl">
                        <div class="share-panel-container">
                            <i class="fa fa-twitter fa-2x"></i>
                            <p>Twitter</p>
                        </div>

                        </a>
                    </li>
                    <li class="pull-right btn btn-info-panel-share">
                        <div class="share-panel-container mail-share" data-guid="@Model.Guid" data-url="@Url.Action("Recommend")">
                            <i class="fa fa-envelope fa-2x"></i>
                            <p>Mail</p>
                        </div>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-sm-12">
                        <h6 class=" h6-nominee-details"><strong>Udskriv flyers og plakater og hæng dem op</strong></h6>

                        <!--TO DO: generate posters-->
                        <div class="row nominee-details-thumb-container">
                            <div class="col-sm-4 thumb-left">
                                <a href="@Model.PosterSolid.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.PosterSolid.ThumbUrl" /></a>
                            </div>
                            <div class="col-sm-4">
                                <a href="@Model.PosterFbPic.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.PosterFbPic.ThumbUrl" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class=" h6-nominee-details">Plakater</h6>
                            </div>
                        </div>

                        <!--TO DO: generate flyers -->
                        <div class="row nominee-details-thumb-container">
                            <div class="col-sm-4 thumb-left">
                                <a href="@Model.FlyerSolid.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.FlyerSolid.ThumbUrl" /></a>
                            </div>
                            <div class="col-sm-4">
                                <a href="@Model.FlyerFbPic.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.FlyerFbPic.ThumbUrl" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class=" h6-nominee-details">Flyers</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class=" h6-nominee-details"><strong>Skift dit Facebook-coverbillede</strong></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="@Model.FbCover.LinkUrl" target="_blank"><img class="nominee-details-thumb nominee-details-fb-cover" src="@Model.FbCover.ThumbUrl"/></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="@Model.FbCoverSolid.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.FbCoverSolid.ThumbUrl" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class=" nominee-details-fbCover-text">
                                    <small>Højreklik på et af billederne og gem det. Så kan du bruge det som cover-billede på din Facebook-profil.</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1  bottom-prize-text-container">
                <small>
                    *Gevinsten udbetales som et Go'on brændstofkort, værdi 15.000 kr.
                    Vinderen findes ved lodtrækning blandt alle, der har stemt eller nomineret.
                    Du kan kun stemme en gang. Udtrækning sker primo juli.
                    Vinderen får direkte besked pr.mail og bliver offentliggjort på goon.nu.
                    Præmien kan ikke ombyttes til kontanter. Ansatte hos Go'on kan ikke deltage i konkurrencen.
                </small>
            </div>
        </div>
    </div>

<div class="comments-template hidden">
    <div class="row comment-row-container">
        <div class="col-xs-3">
            <img class="nominee-details-comment-pic" src="/Content/Images/no-image.png"/>
        </div>
        <div class="col-xs-9">
            <p class=" nominee-details-bread">
                <small>
                    <i class="nominee-details-comment-text">
                    </i>
                </small>
            </p>
            <p class=" nominee-details-bread">
                <small>
                    <b class="nominee-details-comment-name-city"></b>
                </small>
            </p>
        </div>
    </div>
</div>

@section head
{
    <meta property="og:type" content="profile"/>
    <meta property="og:site_name" content="Støtdelokale.nu" />
    <meta property="og:title" content="@Model.Name som Årets Ildsjæl"/>
    <meta property="og:description" content="Stem på @Model.Name som Årets Ildsjæl"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:image" content="@Html.Raw(@Model.PictureAbsoluteUrl)" />
    <meta property="og:locale" content="da_DK" />
}

@section scripts
{
    <script type="text/javascript">
        GetNomineesUrl = '@Url.Action("List")';
        GetRanksUrl = '@Url.Action("GetRanks")';
        PlaceVoteUrl = '@Url.Action("PlaceVote")';
        PlaceCommentUrl = '@Url.Action("PlaceComment", "Comment")';
        GetCommentsUrl = '@Url.Action("GetComments", "Comment")';
        NomineeId = '@Model.Guid';
    </script>
    <script type="text/javascript" src="/Scripts/site/facebook.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominee.js"></script>
    <script type="text/javascript" src="/Scripts/site/details.js"></script>
    <script type="text/javascript" src="/Scripts/site/share.js"></script>
}
