﻿@model Presentation.Web.Models.Nominee.IldsjaelIndexViewModel

@{
    ViewBag.Title = "Årets ildsjæl";
    ViewBag.FacebookTrackingEvent = "PageView";
}

<div class="contestActiveElem hidden" data-contest="@Model.IsActive"></div>

<div class="container-fluid header-bg">

        <div class="row">
            <div class="col-xs-12 no-horizontal-padding header-img ildsjael-index-header-pic" style="background-image: url(@Model.PhotoUrl)">
                <div class="container">
                    <div class="row header-container image-header">
                        <div class="col-xs-10 col-xs-offset-1 frontpage-title">
                            @Html.Raw(Model.FrontpageTitle)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-xs-10 col-xs-offset-1 frontpage-text">
                    @Html.Raw(Model.FrontpageText)
                </div>
            </div>
            @if (Model.IsActive)
            {
                <div class="row">
                    <div class="col-xs-10 col-sm-3 col-xs-offset-1">
                        <a href="@Url.Action("Nominate", "NominateIldsjael")" class=" btn btn-header btn-block h4-index text-header-btn-gray">Nominér en ildsjæl</a>
                    </div>
                </div>
            }
        </div>
</div>

<div class="index-container inActive">
    <div class="container" id="NomineeList">
        <div class="row hidden-xs">
            <div class="col-sm-10 col-sm-offset-1">
                <form class="form-inline form-inline-desktop-index clearfix search search-desktop">
                    <label class="pull-left" for="searchInput">
                        <p class="lead ">Find din favorit til titlen som "Årets Ildsjæl"</p>
                    </label>
                    <input class="pull-right btn btn-search btn-top-15 top-15 " type="button" value="Se top 15" />
                    <div class="pull-right input-group" id="inpu-group">
                        <span class="pull-right input-group-btn">
                            <input class=" btn btn-search  searchInput" type="submit" value="Søg" />
                        </span>
                        <input type="text" class="pull-right form-control phrase  bg-search-inactive" placeholder="Søg på navn eller by..." />
                    </div>
                </form>
            </div>
        </div>
        <div class="row visible-xs">
            <div class="col-sm-10 col-sm-offset-1">
                <form class="form-horizontal clearfix search search-mobile form-horizontal-mobile-index">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="control-label" for="searchInput">
                                <p class="lead">Find din favorit til titlen som "Årets Ildsjæl"</p>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control phrase" placeholder="Søg på navn eller by..." />
                                <span class="input-group-btn">
                                    <input class="btn btn-search searchInput" type="submit" value="Søg" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control btn btn-search btn-block btn-top-15 top-15" type="button" value="Se top 15" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row hidden no-results">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <p class="lead">Der blev desværre ikke fundet nogle kandidater</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 nominees"></div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">

                <div class="loader text-center">
                    <img src="/Content/ajaxloader.gif" />
                </div>

                <div class="load-more">
                    <a href="#" class="load-more-container">
                        <div class="show-more text-center">
                            <img class="center-block" src="/Content/Images/Chevron-down.png" />
                            <br />
                            <p>Se flere kandidater</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container video-container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Se filmen, der hylder de lokale ildsjæle</h2>
                <p>
                    Nogle tror, der aldrig sker noget som helst i de små lokalsamfund. <br />Intet kunne være mere forkert -
                    se filmen der hylder dem, der får tingene til at ske.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/gQA155084Es?rel=0&amp;showinfo=0&hd=1"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                    <div class="video-overlay"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p>
                    *1 års forbrug af brændstof udbetales som et Go'on brændstofkort, værdi 15.000 kr.
                    Vinderen findes ved lodtrækning blandt alle, der har stemt eller nomineret.
                    Du kan kun stemme en gang. Udtrækning sker primo juli.
                    Vinderen får direkte besked pr.mail og bliver offentliggjort på goon.nu.
                    Præmien kan ikke ombyttes til kontanter. Ansatte hos Go'on kan ikke deltage i konkurrencen.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="hidden nominee-template">
    <div class="col-xs-12 col-sm-6 col-md-4 nominee-container">
        <div class="row">
            <div class="col-md-12">
                <p class=" text-index-nominee-header name"></p>
                <p class=" text-index-nominee-header city"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a class="center-block nominee-index-profile-pic picture">
                    <div class="picture-overlay"></div>
                </a>


                <ul class="text-center list-inline nominee-index-profile-info-ul">
                    <li class="pull-left">
                        <div class="info-panel-container">
                            <h3 class="h3-index text-white  rank"></h3>
                            <p class=" text-white">Placering</p>
                        </div>

                    </li>
                    <li class="center-block">
                        <div class="info-panel-container">
                            <h3 class="h3-index text-white  voteCount"></h3>
                            <p class=" text-white">Stemmer</p>
                        </div>
                    </li>
                    <li class="pull-right btn btn-info-panel-share share-li" data-toggle="collapse">
                        <div class="info-panel-container share-button">
                            <img class="text-center info-panel-share" src="/Content/Images/share.png" />
                            <p class=" text-white">Del</p>
                        </div>
                    </li>
                </ul>

                <ul class="text-center list-inline index-share-panel-ul collapse">
                    <li class="pull-left btn btn-info-panel-share fb-share">
                        <div class="share-panel-container">
                            <i class="fa fa-facebook fa-2x"></i>
                            <p>Facebook</p>
                        </div>
                    </li>
                    <li class="center-block btn btn-info-panel-share">
                        <a class="twitter-link text-white" href="" data-msg="" data-url="">
                            <div class="share-panel-container">
                                <i class="fa fa-twitter fa-lg"></i>
                                <p>Twitter</p>
                            </div>
                        </a>
                    </li>
                    <li class="pull-right btn btn-info-panel-share mail-share" data-url="@Url.Action("Recommend")">
                        <div class="share-panel-container">
                            <i class="fa fa-envelope fa-2x"></i>
                            <p>Mail</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 comment-container comment-overlay">
                <h4>
                    <em>
                        <i><small class="font-myriad comment more description"></small></i>
                        <br />
                        <a href="" class=" morelink">
                            <small>
                                <em>
                                    <b><u>Læs mere</u></b>
                                </em>
                            </small>
                        </a>
                    </em>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default btn-sm btn-block voteBtn  nominee-btn-overlay">Stem</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        GetNomineesUrl = '@Url.Action("List")';
        GetRanksUrl = '@Url.Action("GetRanks")';
        PlaceVoteUrl = '@Url.Action("PlaceVote")';
        PlaceCommentUrl = '@Url.Action("PlaceComment", "Comment")';
    </script>
    <script type="text/javascript" src="/Scripts/jquery.history.js"></script>
    <script type="text/javascript" src="/Scripts/site/facebook.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominee.js"></script>
    <script type="text/javascript" src="/Scripts/site/home.js"></script>
    <script type="text/javascript" src="/Scripts/site/share.js"></script>

}
