﻿@model Presentation.Web.Models.About.ForeningAboutViewModel
@{
    ViewBag.Title = "Om konkurrencen";
}
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 no-horizontal-padding header-img about-header-banner" style="background-image: url(@Model.photoUrl)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-10 col-xs-offset-1 aboutpage-title pull-left about">
                    <h1>homePrisen hylder lokal stolthed</h1>
                    <h1 class="text-header-red">over hele landet</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 about-text">
            <p>
                @Html.Raw(Model.AboutText)
            </p>
        </div>
    </div>
</div>

