﻿@model Presentation.Web.Models.About.IldsjaelAboutViewModel
@{
    ViewBag.Title = "Om konkurrencen";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 no-horizontal-padding header-img ildsjael-index-header-pic" style="background-image: url(@Model.photoUrl)">
            <div class="container">
                <div class="row header-container image-header">
                    <div class="col-xs-10 col-xs-offset-1 frontpage-title about">
                        <h1>"Her er det ikke mennesker</h1>
                        <h1>Der rager op i landskabet.</h1>
                        <h1 class="text-header-yellow">Det er mennesker"</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>
                Se filmen, der hylder de lokale ildsjæle
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
            <p class=" p-about-sub-header-ildsjael">
                Nogle tror, der aldrig sker noget som helst i de små lokalsamfund.
                Intet kunne være mere forkert – se filmen, der hylder dem, der får tingene til at ske.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="embed-responsive embed-responsive-16by9 video-container-about">
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/gQA155084Es?rel=0&amp;showinfo=0&hd=1"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 about-text">

                @Html.Raw(Model.AboutText)

        </div>
    </div>
</div>
