﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="649096998632600" />
    <title>@ViewBag.Title - Støtdelokale.nu</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/Site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @RenderSection("head", required: false)
</head>
<body>


    <nav role="navigation" class="navbar-inverse navbar-custom navbar navbar-fixed-top">
        <div class="container-fluid">
            @{ Html.RenderAction("Ildsjael", "Menu"); }
        </div>
    </nav>


    <div class="body-content bg-white">
        @RenderBody()
    </div>


    <div class="container-fluid">
        <footer class="footer">
            <img src="@Url.Content("~/Content/Images/logo@0,5x.png")" />
            <h4 class="text-center ">HOLDER DE LOKALE KØRENDE</h4>
            <h6 class="text-center">Go'on Gruppen Copyright 2016</h6>
            <h5 class="text-center">
                Go'on Gruppen A/S &middot;
                Niels Bohrs Vej 17B &middot;
                8660 Skanderborg &middot;
                Tlf. +45 9784 1032 &middot;
                Fax +45 9784 1033 &middot;
                <a href="mailto:mail@goongruppen.dk" target="_top">mail@goongruppen.dk</a>
            </h5>
        </footer>
    </div>


    <div id="VoteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content loading">
                <div class="modal-body text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>

            <div class="modal-content facebook-login">
                <div class="modal-body">

                    <h2>Registrering af din stemme</h2>

                    <p class=" h5-facebook-login">
                        <small>
                            For at registrere din stemme skal du logge ind med Facebook.
                            Når din stemme er registreret deltager du automatisk i lodtrækningen om et
                            års forbrug af brændstof.
                            Vi bruger kun dit log-in til at registrere din stemme og intet andet.
                        </small>
                    </p>
                    <button type="button" class="btn btn-default btn-fb-login login">Log ind med Facebook og registrér din stemme</button>
                </div>
            </div>

            <div class="modal-content place-comment">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Tak for din stemme</h1>
                    <p>
                        Fortæl, hvorfor du har stemt på <span class="nominee-name"></span> så andre kan se,
                        hvorfor du har stemt på netop <span class="nominee-name"></span>. Din kommentar bliver kun brugt på denne side.
                    </p>

                    <form>
                        <textarea class="vote-modal-textarea " placeholder="Skriv, hvorfor du har stemt på din favorit..."></textarea>

                        <input type="submit" class="btn btn-fb-modal" value="Ja tak, send kommentar"/>
                        <input type="button" class="btn btn-fb-modal btn-vote-no-comment" value="Nej tak"/>
                    </form>
                </div>
            </div>
            <div class="modal-content place-comment-bread bg-header-topbar-dark-gray">
                    <p class=" vote-modal-bread text-white">
                        Hver måned kan du deltage i konkurrencen om 1 års forbrug af brændstof.
                        Du får et lod for hver gang, du tanker. Husk din bon og tilmeld den på
                        <a href="http://www.goon.nu">goon.nu</a>.
                        Har du Go'on kundekort, får du automatisk et lod, hver gang du tanker.
                        Gevinsten udbetales som et GO'on brændstofkort, værdi 15.000kr.
                    </p>
            </div>
            <div class="modal-content place-fb-comment">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Vil du dele på facebook?</h1>
                    <p>
                        Alle stemmer tæller. Derfor kan du hjælpe <span class="nominee-name"></span>
                        med at vinde ved at få så mange som muligt til at stemme på din favorit ved at dele et opslag på din facebook-væg
                    </p>

                    <input type="button" class="btn btn-fb-modal  btn-place-fb-comment" value="Del på facebook"/>

                </div>
            </div>

            <div class="modal-content vote-error">
                <div class="modal-body text-center">
                    <p class="lead modal-error">Du kan kun stemme på hver kandidat én gang, og kan derfor ikke stemme på denne kandidat igen.</p>
                </div>
            </div>
            <div class="modal-content vote-error-no-active-contest">
                <div class="modal-body text-center">
                    <p class="lead modal-error">Der er for øjeblikket ingen aktiv konkurrence.</p>
                </div>
            </div>

        </div>
    </div>


    <div id="ShareMailModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Tip en ven med en mail</h1>

                        <form method="post" class="form-horizontal mail-modal">
                            <input type="hidden" name="Guid"/>

                            <div class="form-group">
                                <label class=" col-xs-12 col-sm-2 control-label text-left mail-modal-label"><strong>Dit Navn</strong></label>
                                <div class="col-xs-8">
                                    <input type="text" name="SenderName" class=" form-control form-control-nominate" placeholder="Indtast dit navn "/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-xs-12 col-sm-2 control-label text-left mail-modal-label"><strong>Din e-mail</strong></label>
                                <div class="col-xs-8">
                                    <input type="email" name="SenderEmail" class=" form-control form-control-nominate" placeholder="Indtast mailadresse"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-xs-12 col-sm-2 control-label text-left mail-modal-label"><strong>Din vens navn</strong></label>
                                <div class="col-xs-8">
                                    <input type="text" name="RecipientName" class=" form-control form-control-nominate" placeholder="Indtast din vens navn"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-xs-12 col-sm-2 control-label text-left mail-modal-label"><strong>Din vens e-mail</strong></label>
                                <div class="col-xs-8">
                                    <input type="email" name="RecipientEmail" class=" form-control form-control-nominate" placeholder="Indtast din vens mailadresse"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-xs-12 col-sm-2 control-label text-left mail-modal-label"><strong>Skriv, hvorfor du har stemt på din favorit</strong></label>
                                <div class="col-xs-8">
                                    <textarea name="Message" class=" form-control form-control-nominate" placeholder="Indtast din besked her"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button type="submit" class="btn btn-default btn-block">Send besked</button>
                                </div>
                            </div>
                        </form>

                    <div class="mail-feedback">
                        <div class="row">
                            <p class=" col-xs-12 text-left">Mange tak! Din besked er nu afstend til din ven</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jslibs")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/site/layout.js"></script>
    <script type="text/javascript" src="/Scripts/site/form.js"></script>
    <script type="text/javascript">
        window.twttr = (function(d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
</body>
</html>
