﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N4M4WDG');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="649096998632600" />
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:type" content="website" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/Site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" />
    @RenderSection("head", required: false)
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4M4WDG"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--Header for all views-->
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default bg-white navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header bg-subRow">
                    <div class="visible-xs">
                        <div class="navbar-brand">
                            <a class="navbar-logo" href="@Url.Action("Index", "NomineeForening")">
                                <img src="@Url.Content("~/Content/Images/home/Home-logo.png")" />
                            </a>
                        </div>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse collapse-navbar-mobile" id="header-navbar-collapse-1">
                    <div class="container header">
                        <div class="row">
                            @{ Html.RenderAction("Forening", "Menu"); }
                        </div>
                    </div>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>

    <!--Specifik content of the view-->
    <div class="body-content bg-white">
        @RenderBody()
    </div>

    @*Footer for all views*@
    <footer class="footer" role="contentinfo">
        <div class="row">
            <div class="col-md-12 col-sm-12 nopadding">
                <div class="row no-gutters">
                    <article class="col-lg-3 col-sm-6 box">
                        <div class="box-wrapper">
                            <a href="https://home.dk/koeb/koeberraadgivning/" title="Køberrådgivning" class="box-link-wrapper">
                                <div class="box-top theme-1">
                                    <h3 class="box-header-primary">Køberrådgivning</h3>
                                </div>
                                <div class="box-content">
                                    <h2 class="box-header-secondary">Få hjæp til boligkøbet</h2>
                                    <p class="hidden-xs"></p>
                                    <p>
                                        Få en personlig køberrådgiver, der hjælper og rådgiver dig
                                        hele vejen igennem de komplekse processer op til et boligkøb
                                        - så du kan sove trygt om natten.
                                    </p>
                                </div>
                                <span class="box-link hidden-xs">Køberrådgivning</span>
                            </a>
                        </div>
                    </article>
                    <article class="col-lg-3 col-sm-6 box image">
                        <div class="box-wrapper">
                            <a href="https://home.dk/online/" title="Online" class="box-link-wrapper">
                                <div class="box-top image-1">
                                </div>
                                <div class="box-content">
                                    <h2 class="box-header-secondary">home Online Markedsføring</h2>
                                    <p class="hidden-xs"></p>
                                    <p>
                                        Hurtigere salg og bedre pris. Den mest effektive måde at annoncere og sælge bolig på.
                                        Med home Online Markedsføring bliver din bolig vist frem for interesserede købere lige der, hvor de befinder sig.
                                    </p>
                                </div>
                                <span class="box-link hidden-xs">Online Markedsføring</span>
                            </a>
                        </div>
                    </article>
                    <article class="col-lg-3 col-sm-6 box">
                        <div class="box-wrapper">
                            <a href="https://home.dk/vaerditjek/" title="home VærdiTjek" class="box-link-wrapper">
                                <div class="box-top theme-1 ">
                                    <h3 class="box-header-primary">Værditjek</h3>
                                </div>
                                <div class="box-content">
                                    <h2 class="box-header-secondary">home VærdiTjek</h2>
                                    <p class="hidden-xs"></p>
                                    <p>
                                        Er din bolig steget i værdi? Få svaret hurtigt og let med
                                        home VærdiTjek. Indtast din adresse og få prisen på din
                                        bolig på mail. Let og hurtigt!
                                    </p>
                                </div>
                                <span class="box-link hidden-xs">home VærdiTjek</span>
                            </a>
                        </div>
                    </article>
                    <article class="col-lg-3 col-sm-6 box">
                        <div class="box-wrapper">
                            <a href="https://facebook.com/homedk/" title="Facebook" class="box-link-wrapper">
                                <div class="box-top image-2">
                                </div>
                                <div class="box-content">
                                    <h2 class="box-header-secondary">home på Facebook</h2>
                                    <p class="hidden-xs"></p>
                                    <p>
                                        Følg os på Facebook og få gode fif til køb & salg af bolig
                                        i Danmark. Se månedens bolig og få inspiration til indretning
                                        af din bolig. Deltag i konkurrencer og vind spændende præmier.
                                    </p>
                                </div>
                                <span class="box-link hidden-xs">Facebook</span>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="bottom-container-hidden-xs hidden-xs">
                <div class="bottom-div-left pull-left">
                    <h5>
                        <a href="">&copy; home</a>
                    </h5>
                    <h5>
                        <a href="https://home.dk/cookie-politik/" target="_blank">Cookies- og privatlivspolitik</a>
                    </h5>
                </div>
                <div class="bottom-div-middle">
                    <img src="@Url.Content("~/Content/Images/home/Home-logo.png")" />
                </div>
                <div class="bottom-div-right pull-right">
                    <h5>
                        <a href="https://danskebank.dk/privat" target="_blank">Ejendomsmæglerkæde for Danske Bank koncernen</a>
                    </h5>
                </div>
            </div>
            <div class="bottom-container-visible-xs visible-xs">
                <h5>
                    <a href="">&copy; home</a>
                </h5>
                <h5>
                    <a href="https://home.dk/cookie-politik/" target="_blank">Cookies- og privatlivspolitik</a>
                </h5>
                <h5>
                    <a href="https://danskebank.dk/privat" target="_blank">Ejendomsmæglerkæde for Danske Bank koncernen</a>
                </h5>
                <img class="center-block" src="@Url.Content("~/Content/Images/home/Home-logo.png")" />
            </div>
        </div>
    </footer>

    <!--Different modals for all views-->
    <div id="VoteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content loading">
                <div class="modal-body text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>

            <div class="modal-content facebook-login">
                <div class="modal-body">

                    <h2>Log ind med Facebook for at stemme</h2>

                    <p class="h5-facebook-login">
                        <small>
                            <span class="nominee-name"></span> er helt sikkert enormt glade for, at du stemmer på dem og dermed øger deres chance for at vinde homePrisen 2018.
                            Men før du kan stemme, skal du logge ind med Facebook.
                            Det tager kun to sekunder, og vi lover dig, at vi hverken slår noget op i dit feed eller skriver mærkelige beskeder til dine venner.
                        </small>
                    </p>
                    <button type="button" class="btn btn-default btn-fb-login login">Log ind med Facebook for at stemme</button>
                </div>
            </div>

            <div class="modal-content place-comment">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Tak for din stemme!</h1>
                    <p>
                        Der er kamp mellem de mange nominerede projekter, så alle stemmer tæller. Fortæl andre,
                        hvorfor <span class="nominee-name"></span> har fortjent at vinde homePrisen 2018, og del det med dine venner på Facebook!
                    </p>

                    <form>
                        <textarea class="vote-modal-textarea " placeholder="Hvorfor har netop denne kandidat fortjent at vinde homePrisen 2018?"></textarea>

                        <input type="submit" class="btn btn-fb-modal " value="Ja tak, send kommentar">
                        <input type="button" class="btn btn-fb-modal  btn-vote-no-comment" value="Nej tak">
                    </form>
                </div>
            </div>
            <div class="modal-content place-fb-comment">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span><i class="fa fa-times fa-lg"></i></button>
                    <h1>Tak for din stemme!</h1>
                    <p>
                        Der er kamp mellem de mange nominerede projekter, så alle stemmer tæller. Fortæl andre,
                        hvorfor <span class="nominee-name"></span> har fortjent at vinde homePrisen 2018, og del det med dine venner på Facebook!

                    </p>

                    <input type="button" class="btn btn-fb-modal  btn-place-fb-comment" value="Slå min kommentar op på Facebook" />

                </div>
            </div>

            <div class="modal-content vote-error">
                <div class="modal-body text-center">
                    <p class="lead modal-error">Du kan kun stemme på hver kandidat én gang, og kan derfor ikke stemme på denne kandidat igen.</p>
                </div>
            </div>
            <div class="modal-content vote-error-no-active-contest">
                <div class="modal-body text-center">
                    <p class="lead modal-error">Der er for øjeblikket ingen aktiv konkurrence.</p>
                </div>
            </div>

        </div>
    </div>

    <div id="ShareMailModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1 class="home-header">Fortæl modtageren, hvorfor <span class="nominee-name"></span> skal vinde</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" class="form-horizontal mail-modal">
                                <input type="hidden" name="Guid" />
                                <div class="form-group">
                                    <label class="control-label text-left mail-modal-label home-label-text">Dit Navn:</label>
                                    <input type="text" name="SenderName" class="form-control form-control-nominate" />
                                    <span class="text-danger hidden"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-left mail-modal-label home-label-text">Din email:</label>
                                    <input type="text" name="SenderEmail" class="form-control form-control-nominate" />
                                    <span class="text-danger hidden"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-left mail-modal-label home-label-text">Din vens navn:</label>
                                    <input type="text" name="RecipientName" class="form-control form-control-nominate" />
                                    <span class="text-danger hidden"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-left mail-modal-label home-label-text">Din vens email adresse:</label>
                                    <input type="text" name="RecipientEmail" class="form-control form-control-nominate" />
                                    <span class="text-danger hidden"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-left mail-modal-label home-label-text">Din besked:</label>
                                    <textarea name="Message" class="form-control form-control-nominate" placeholder=""></textarea>
                                    <span class="text-danger hidden"></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-8 col-xs-offset-2">
                                        <button type="submit" class="btn btn-default btn-block home-label-text">Send besked</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jslibs")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/site/layout.js"></script>
    <script type="text/javascript" src="/Scripts/site/form.js"></script>
    <script type="text/javascript">
        window.twttr = (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
</body>
</html>
