﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Støt de lokale</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/Site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <nav role="navigation" class="navbar-inverse navbar-custom navbar navbar-fixed-top">
        <div class="container-fluid">
            <!--row 1-->
            <div class="row">
                <!--Group logo + brand + toggle for better mobile view-->
                <div class="navbar-header bg-subRow">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!--nav bar row 1-->
                <div class="navbar-collapse collapse collapse-navbar-mobile">
                    <ul class="nav navbar-nav navbar-right">

                        @*navbar links with ropdown for mobile view*@

                        <!--empty menuitems used to space dropdown in mobile view-->
                        <li class="dropdown text-center open visible-xs">
                            <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Indstillinger
                            </a>
                            <ul class="dropdown-menu">
                                <li class="text-nav-dropdown ">@Html.ActionLink("Indstillinger", "Index", "AdminSettings")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Nominerede", "Index", "AdminNominee")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Kommentarer", "Index", "AdminComments")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Konkurrencer", "Index", "AdminContest")</li>
                            </ul>
                        </li>
                        <li class="dropdown text-center open visible-xs">
                            <a href="" id="dropdownIldsjael" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Årets Ildsjæl
                            </a>
                            <ul class="dropdown-menu" id="dropdown-menu-1">
                                <li class="text-nav-dropdown ">@Html.ActionLink("Stem på din favorit", "", "")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Nominér en ildsjæl", "Nominate", "NominateIldsjael")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Om konkurrencen", "About", "About")</li>
                            </ul>
                        </li>
                        <li class="dropdown text-center visible-xs">
                            <a href="" id="dropdownClub" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Årets Forening og andre lokale Formål
                            </a>
                            <ul class="dropdown-menu" id="dropdown-menu-2">
                                <li class="text-nav-dropdown ">@Html.ActionLink("Stem på din favorit", "", "")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Nominér Forening", "", "")</li>
                                <li class="text-nav-dropdown ">@Html.ActionLink("Om konkurrencen", "", "")</li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Logout","Account")" class=" visible-xs">Log ud</a></li>
                        <li class="visible-xs">
                            <a href="@Url.Action("index","Home")" class="navbar-dropdown-logo ">
                                <img class="center-block " src='@Url.Content("/Content/Images/logo@2x.png")' />
                            </a>
                        </li>

                        @*Navbar links for desktop view*@

                        <li class="text-center hidden-xs">
                            <a href="@Url.Action("Index", "AdminSettings")" class=" text-goon-green-light">Indstillinger</a>
                            <div class="icon-container hidden-xs">
                                <span class=" glyphicon glyphicon-triangle-top admin"></span>
                            </div>
                        </li>
                        <li class="text-center hidden-xs">
                            <a href="@Url.Action("Index","NomineeIldsjael")">Årets Ildsjæl</a>
                        </li>
                        <li class="text-center hidden-xs">
                            <a href="@Url.Action("Index","NomineeForening")">Årets Forening og andre lokale Formål</a>
                        </li>
                        <li><a href="@Url.Action("Logout","Account")" class=" hidden-xs">Log ud</a></li>

                    </ul>
                </div>
            </div>
            <!--row 2-->
            <div class="row bg-subRow subRow hidden-xs">
                <ul class="list-inline list-unstyled pull-right navbar-sub-link-ul hidden-xs">
                    <li class="text-nav-sub-link "><a href="@Url.Action("Index","AdminSettings")" class="text-navbar-sub-link-link-color">Indstillinger</a></li>
                    <li class="text-nav-sub-link "><a href="@Url.Action("Index","AdminNominee")" class="text-navbar-sub-link-link-color">Nominerede</a></li>
                    <li class="text-nav-sub-link "><a href="@Url.Action("Index","AdminComments")" class="text-navbar-sub-link-link-color">Kommentarer</a></li>
                    <li class="text-nav-sub-link "><a href="@Url.Action("Index","AdminContest")" class="text-navbar-sub-link-link-color">Konkurrencer</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content bg-white">
        @RenderBody()
    </div>
    <div id="VoteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content loading">
                <div class="modal-body text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>

            <div class="modal-content facebook-login">
                <div class="modal-body">

                    <h2>Registrering af din stemme</h2>

                    <p class=" h5-facebook-login">
                        <small>
                            For at registrere din stemme skal du logge ind med Facebook.
                            Når din stemme er registreret deltager du automatisk i lodtrækningen om et
                            års forbrug af brændstof.
                            Vi bruger kun dit log-in til at registrere din stemme og intet andet.
                        </small>
                    </p>

                    <button type="button" class="btn btn-default login center-block">Log ind med Facebook og registrér din stemme</button>
                </div>
            </div>

            <div class="modal-content place-comment">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Tak for din stemme</h1>
                    <p>
                        Fortæl, hvorfor du har stemt på <span class="nominee-name"></span> så andre kan se,
                        hvornår du har stemt på netop <span class="nominee-name"></span>. Din kommentar bliver kun brugt på denne side.
                    </p>

                    <form>
                        <textarea class="vote-modal-textarea " placeholder="Skriv, hvorfor du har stemt på din favorit..."></textarea>

                        <input type="submit" class="btn btn-fb-modal " value="ja tak, send kommentar" />
                        <input type="button" class="btn btn-fb-modal  btn-vote-no-comment" value="nej tak" />
                    </form>
                </div>
            </div>

            <div class="modal-content place-comment-bread bg-header-topbar-dark-gray">
                <p class=" vote-modal-bread text-white">
                    Hver måned kan du deltage i konkurrencen om 1 års forbrug af brændstof.
                    Du får et lod for hver gang du tanker. Husk din bon og tilmeld den på
                    <a href="http://www.goon.nu">goon.nu</a>.
                    Har du Go'on kundekort får du automatisk et lod hver gang du tanker.
                    Gevinsten udbetales som et GO'on brændstofkort, værdi 15.000kr.
                </p>
            </div>

            <div class="modal-content place-fb-comment">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                    <h1>Vil du dele på facebook?</h1>
                    <p>
                        Alle stemmer tæller. Derfor kan du hjælpe <span class="nominee-name"></span>
                        med at vinde ved at få så mange som muligt til at stemme på din favorit ved at dele et opslag på din facebook-væg
                    </p>

                    <input type="button" class="btn btn-fb-modal  btn-place-fb-comment" value="Del på facebook" />

                </div>
            </div>

            <div class="modal-content vote-error">
                <div class="modal-body text-center">
                    <p>Du kan kun stemme på hver kandidat én gang, og kan derfor ikke stemme på denne kandidat igen.</p>
                </div>
            </div>

        </div>
    </div>
    <div id="MailModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Tip en ven med en mail</h1>

                    <form class="form-horizontal mail-modal">
                        <div class="form-group">
                            <label class=" col-xs-2 control-label text-left mail-modal-label"><strong>Dit Navn</strong></label>
                            <div class="col-xs-8">
                                <input type="text" class=" form-control form-control-nominate" />
                                <span class=" text-danger hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" col-xs-2 control-label text-left mail-modal-label"><strong>Din e-mail</strong></label>
                            <div class="col-xs-8">
                                <input type="text" class=" form-control form-control-nominate" />
                                <span class=" text-danger hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" col-xs-2 control-label text-left mail-modal-label"><strong>Din vens navn</strong></label>
                            <div class="col-xs-8">
                                <input type="text" class=" form-control form-control-nominate" />
                                <span class=" text-danger hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" col-xs-2 control-label text-left mail-modal-label"><strong>Din vens e-mail</strong></label>
                            <div class="col-xs-8">
                                <input type="text" class=" form-control form-control-nominate" />
                                <span class=" text-danger hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" col-xs-2 control-label text-left mail-modal-label"><strong>Skriv, hvorfor du har stemt på din favorit</strong></label>
                            <div class="col-xs-8">
                                <textarea class=" form-control form-control-nominate"></textarea>
                                <span class=" text-danger hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button type="submit" class="btn btn-default btn-block">Send besked</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jslibs")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/site/layout.js"></script>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
</body>
</html>
