﻿@model Presentation.Web.Models.Nominate.AcceptedViewModel
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Tak! Du er nu nomineret";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 non-index-banner" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-12 col-centered frontpage-title">
                    <p>Du har nu accepteret nomineringen</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-centered frontpage-text">
                    <p>
                        Du kan finde @Model.NomineeName's kandidatside <a class="nominee-accepted-deatils-link text-goon-green" href="@Model.NomineeDetailsUrl">ved at trykke her</a>,
                        og følge med i, hvor mange der har stemt. Husk at dele denne side for eksempel på Facebook, så @Model.NomineeName får så mange stemmer som muligt.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>