﻿@model Presentation.Web.Models.Nominate.AcceptForeningViewModel
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Acceptér nominering";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 non-index-banner" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-10 col-centered frontpage-title">
                    <p>Tillykke med din nominering!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-centered frontpage-text">
                    <p>
                        <span class="text-goon-green">@Model.NominatorName</span> har nomineret dit projekt, <span class="text-goon-green">@Model.Name</span>
                        som kandidat til at vinde homePrisen 2018.
                        homePrisen på 30.000 kr. gives til et projekt, der styrker den lokale stolthed i et område,
                        og derigennem gør det mere attraktivt at bo i. Inden vi indlemmer dig i afstemningen,
                        skal du dog lige bekræfte nomineringen og fortælle en lille smule mere om dit projekt. Held og lykke!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
            @using (Html.BeginForm("Accept", "NominateForening", FormMethod.Post, new { @id = "NominateForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Guid)
                @Html.HiddenFor(x => x.PictureUrl)
                @Html.HiddenFor(x => x.FacebookPictureUrl)
                @Html.HiddenFor(x => x.NominatorName)

                for(int i = 0; i < Model.AvailableCategories.Length; i++)
                {
                    @Html.HiddenFor(model => Model.AvailableCategories[i])
                }

                if (Model.AvailableMunicipalities != null && Model.AvailableMunicipalities.Any())
                {
                    for(int i = 0; i < Model.AvailableMunicipalities.Length; i++)
                    {
                        @Html.HiddenFor(model => Model.AvailableMunicipalities[i])
                    }
                }

                <input type="file" name="@Html.NameFor(x => x.Picture)" id="UploadBtn" accept="image/*" hidden class="hidden" />

                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

                    <h2 class="h2-nominate forening">Acceptér din nominering</h2>

                    <div class="summary-container alert">
                        @Html.ValidationMessage("Picture", new { @class = "text-danger" })
                        @Html.ValidationMessage("Name", new { @class = "text-danger" })
                        @Html.ValidationMessage("Description", new { @class = "text-danger" })
                        @Html.ValidationMessage("Email", new { @class = "text-danger" })
                        @Html.ValidationMessage("Phone", new { @class = "text-danger" })
                        @Html.ValidationMessage("Address", new { @class = "text-danger" })
                        @Html.ValidationMessage("Zipcode", new { @class = "text-danger" })
                        @Html.ValidationMessage("Municipality", new { @class = "text-danger" })
                        @Html.ValidationMessage("TosChkBox", new { @class = "text-danger" })
                    </div>

                    <div class="form-group hidden">
                        @Html.LabelFor(x => x.ForeningType, new { @class = "col-xs-3 control-label text-left", @for = "inputName" })

                        <div class="col-xs-1">
                            @Html.RadioButtonFor(x => x.ForeningType, "Forening", new { @class = "pull-right" })
                        </div>
                        <div class="col-xs-2">
                            <p>Forening</p>
                        </div>

                        <div class="col-xs-1 col-xs-offset-1">
                            @Html.RadioButtonFor(x => x.ForeningType, "Formål", new { @class = "pull-right" })
                        </div>
                        <div class="col-xs-2">
                            <p>Formål</p>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Name, new { @class = "control-label text-left" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-nominate" })
                        @Html.ValidationMessage("Name", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class = "control-label text-left" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-nominate" })
                        @Html.ValidationMessage("Email", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label class="control-label text-left">@Model.NominatorName's @Html.DisplayNameFor(x => x.Description)</label>
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control form-control-nominate" })
                        @Html.ValidationMessage("Description", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Category, new { @class = "control-label text-left" })
                        @Html.DropDownListFor(x => x.Category, new SelectList(Model.AvailableCategories), new { @class = "form-control form-control-nominate" })
                    </div>

                    <div class="form-group">
                        <div class="image-container">
                            <img class="nominee-image" src="@Model.PictureUrl" />
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                            <span class="btn btn-upload btn-block UploadBtnTrigger">
                                @Html.DisplayNameFor(x => x.Picture)
                            </span>
                        </div>
                        @Html.ValidationMessage("Picture", new { @class = "text-danger" })
                    </div>

                    <h5>
                        <small class="text-black">
                            *Alle billeder får et sort/hvid overlay, inden de kommer online på siden.
                        </small>
                    </h5>

                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="h2-nominate forening">Kontaktinformation</h2>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone, new { @class = "control-label text-left" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control-nominate" })
                        @Html.ValidationMessage("Phone", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Address, new { @class = "control-label text-left" })
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control form-control-nominate" })
                        @Html.ValidationMessage("Address", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Zipcode, new { @class = "control-label text-left" })
                        @Html.TextBoxFor(x => x.Zipcode, new { @class = "form-control form-control-nominate", id="nominee-zipcode-input" })
                        @Html.ValidationMessage("Zipcode", new { @class = "text-danger" })
                    </div>
                    
                    <div class="@("form-group accept-nomination-municipalities " + (
                        Model.AvailableMunicipalities != null && Model.AvailableMunicipalities.Any()
                            ? "multiple-municipalities"
                            : string.IsNullOrWhiteSpace(Model.Municipality)
                                ? "no-municipalities"
                                : "single-municipality"))">

                        @Html.LabelFor(x => x.Municipality, new { @class = "control-label text-left" })
                        <select class="form-control form-control-nominate municipalities-dropdown">
                            @foreach (var municipality in Model.AvailableMunicipalities)
                            {
                                <option value="municipality">@municipality</option>
                            }
                        </select>
                        @Html.TextBoxFor(x => x.Municipality, new { @class = "form-control form-control-nominate municipalities-input", @readonly = string.IsNullOrWhiteSpace(Model.Municipality) })
                        @Html.ValidationMessage("Municipality", new { @class = "text-danger single-validation" })
                        <p class="error-msg">Det var desværre ikke muligt at finde din kommune automatisk. Indtast venligst din kommune.</p>

                       

                    </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.City, new { @class = "control-label text-left" })
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control form-control-nominate" })
                            @Html.ValidationMessage("City", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <small>@Html.ValidationMessage("TosChkBox", new { @class = "text-danger" })</small>
                            <div class="col-xs-1">
                                @Html.CheckBoxFor(x => x.TosChkBox, new { id = "TosChkBox" })
                            </div>
                            <div class="col-xs-11">
                                <h5>
                                    <small class="h5-nominate">
                                        Jeg accepterer nomineringen og
                                        <a href="@Url.Action("ForeningAbout", "About")" target="_blank">betingelserne</a>.
                                        Bare rolig. Du vil kun blive kontaktet i forbindelse med konkurrencen, og vi deler ikke dine oplysninger med andre.
                                    </small>
                                </h5>
                            </div>
                        </div>
                        <div class="row submit-row">
                            <div class="col-sm-10 col-sm-offset-1 hidden-xs">
                                <div class="row">
                                    @if (Model.IsAccepted)
                {
                                        <div class="col-sm-8">
                                            <input type="submit" class="btn btn-default btn-block" value="Gem oplysninger" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-6">
                                            <input type="submit" class="btn btn-default btn-block" value="Acceptér nominering" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="button" class="btn btn-danger btn-block decline-button" value="Afvis nominering" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="loader-row hidden">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 text-center hidden-xs">
                                    <i class="fa fa-spin fa-spinner fa-2x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 text-center hidden-xs">
                                    <p>Vent venligst, mens din profil oprettes. Gå ikke væk fra siden!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row submit-row">
                    <div class="col-xs-12 visible-xs">
                        @if (Model.CanDecline)
                        {
                            <input type="button" class="btn btn-danger btn-block btn-nominate-submit-mobile decline-button" value="Afvis nominering" />
                        }
                        @if (Model.IsAccepted)
                        {
                            <input type="submit" class="btn btn-default btn-block btn-nominate-submit-mobile" value="Gem oplysninger" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-default btn-block btn-nominate-submit-mobile" value="Acceptér nominering" />
                        }
                    </div>
                </div>

                <div class="loader-row hidden">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center visible-xs">
                            <i class="fa fa-spin fa-spinner fa-2x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center visible-xs">
                            <p>Vent venligst, mens din profil oprettes. Gå ikke væk fra siden!</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="DeclineModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                    <h1>Er du helt sikker?</h1>
                    <p>
                        Hvis du afviser din nominering, skal du nomineres igen, før du kan accepteres som nomineret.
                        Denne handling kan ikke fortrydes.
                    </p>
                    <a href="@Url.Action("Decline", new {Guid = Model.Guid})" class="btn btn-fb-modal btn-vote-no-comment decline-btn">Jeg er sikker - afvis</a>

                    <input type="button" class="btn btn-fb-modal btn-vote-no-comment cancel-btn" value="Annullér" />
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="/Scripts/load-image.all.min.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominate.js"></script>
}
