﻿
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Du er nu ude af konkurrencen";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 non-index-banner" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-8 col-centered frontpage-title">
                    <p>Farvel!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-centered frontpage-text">
                    <p>
                        Du har nu afvist din nominering som <span class="text-header-yellow">Årets Forening/Formål.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>