﻿@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Der er ingen aktiv konkurrence";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 non-index-banner" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-8 col-centered frontpage-title">
                    <p>Beklager!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-centered frontpage-text">
                    <p>
                        Vi kårer desværre ikke <span class="text-header-yellow">Årets Forening</span> i øjeblikket
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>