﻿@model Presentation.Web.Models.Nominate.NominateForeningViewModel
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Nominér en Forening";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 non-index-banner" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-12 col-centered frontpage-title">
                    <p>Hvem skal vinde homePrisen 2018?</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-centered frontpage-text">
                    <p>
                        Med homePrisen fejrer vi, at der er så mange lokale tiltag, vi kan være stolte af.
                        Netop den stolthed tilfører energi og nye borgere til lokalområdet. Det hylder home med tre kontante skulderklap.
                        Vi har brug for din hjælp, så de sejeste, mest passionerede og mest inspirerende projekter bliver tilmeldt.
                        Tilmeld det initiativ, som har fortjent at vinde homePrisen!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
            @using (Html.BeginForm("Nominate", "NominateForening", FormMethod.Post, new { @id = "NominateForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.FacebookPictureUrl)
                @Html.HiddenFor(x => x.ContestType)

                <input type="file" id="UploadBtn" accept="image/*" hidden class="hidden" name="@Html.NameFor(x => x.Picture)" />

                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <h2 class="h2-nominate forening">Nominér lokalt projekt</h2>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.Name, new { @class = " form-control form-control-nominate", id = "inputName" })
                            @Html.ValidationMessage("Name", new { @class = " text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Zipcode, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.Zipcode, new { @class = " form-control form-control-nominate", id = "inputZipcode" })
                            @Html.ValidationMessage("Zipcode", new { @class = " text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.City, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.City, new { @class = " form-control form-control-nominate", id = "inputCity" })
                            @Html.ValidationMessage("City", new { @class = " text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.ResponsibleName, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.ResponsibleName, new { @class = " form-control form-control-nominate", id = "inputLeaderName" })
                            @Html.ValidationMessage("ResponsibleName", new { @class = " text-danger" })
                        </div>
                        <p class="home-paragraph-text p-notification-text">
                            Inden dit indstillede projekt kan ses på listen over nominerede,
                            skal den projektansvarlige (det kan være dig selv, en kollega eller den person, du vælger at indstille)
                            acceptere projektets deltagelse i homePrisen 2018. Vi sender derfor en mail med din begrundelse til den ansvarlige,
                            hvor personen kan bekræfte, at projektet accepterer din indstilling.
                            Det er derfor vigtigt, at du skriver den rigtige email adresse herunder, så vi kan kontakte den projektansvarlige.
                        </p>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.Email, new { @class = " form-control form-control-nominate", id = "inputEmail" })
                            @Html.ValidationMessage("Email", new { @class = " text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Description, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextAreaFor(x => x.Description, new { @class = " form-control form-control-nominate" })
                            @Html.ValidationMessage("Description", new { @class = " text-danger" })
                        </div>

                        <h5>
                            <small class="text-black">
                                *Den projektansvarlige får mulighed for at læse din begrundelse igennem og selv tilføje yderligere.
                                Giv det dit bedste skud!
                            </small>
                        </h5>

                        <div class="row">
                            <h3 class="h2-nominate forening">Information om dig</h3>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.NominatorName, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.NominatorName, new { @class = "form-control form-control-nominate", id = "inputNominatorName" })
                            @Html.ValidationMessage("NominatorName", new { @class = " text-danger " })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.NominatorEmail, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.NominatorEmail, new { @class = " form-control form-control-nominate", id = "inputNominatorEmail" })
                            @Html.ValidationMessage("NominatorEmail", new { @class = "text-danger  " })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.NominatorPhone, new { @class = "control-label text-left home-form-labels" })
                            @Html.TextBoxFor(x => x.NominatorPhone, new { @class = " form-control form-control-nominate", id = "inputPhone" })
                            @Html.ValidationMessage("NominatorPhone", new { @class = "text-danger " })
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1 no-padding-left">
                                    @Html.CheckBoxFor(x => x.TosChkBox, new { @class = "", id = "TosChkBox" })
                                </div>
                                <div class="col-xs-10 col-sm-11 no-padding-left">
                                    <p class="p-notification-text p-margin-top">
                                        Jeg indstiller ovenstående projekt og accepterer
                                        <a href="@Url.Action("ForeningAbout", "About")" target="_blank">betingelserne</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9 pull-left">
                                    <small>@Html.ValidationMessage("TosChkBox", new { @class = "text-danger " })</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 no-padding-left">
                                    <h5 class="h5-nominate p-notification-text">
                                        Bare rolig. Du vil kun blive kontaktet i forbindelse med konkurrencen, og vi deler ikke dine oplysninger med andre.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 captha-container">
                                <div class="g-recaptcha" data-sitekey="6LeCM1UUAAAAAPl0BrA9Zm9WWUdzheYXkCdj2HDl" data-callback="onCapthaSuccess"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 hidden-xs">
                                <input type="submit" disabled="disabled" class="btn btn-default btn-block" value="Nominér" />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 visible-xs">
                            <input type="submit" disabled="disabled" class="btn btn-default btn-block btn-nominate-submit-mobile" value="Send nominering" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Scripts/load-image.all.min.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominate.js"></script>
    <script type="text/javascript">
        function onCapthaSuccess(grecaptcharesponse) {
            $('input[type="submit"]').attr('disabled', false);
        }
    </script>
}
