﻿@model Presentation.Web.Models.Nominate.ThanksViewModel
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Tak for din nominering";
    ViewBag.FacebookTrackingEvent = "CompleteRegistration";
}
<div class="container-fluid header-bg">
    <div class="col-xs-12 non-index-banner" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-8 col-centered frontpage-title">
                    <p>Tak for din nominering</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-centered frontpage-text">
                    <p>
                        Du får besked pr. mail, når <span class="text-goon-green">@Model.NomineeName</span> har accepteret din nominering.
                        Husk, du må gerne nominere flere foreninger/formål.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

