@font-face {
    font-family: 'Taz';
    src: url('/Content/site/utility/fonts/Taz_300_Light/Taz_300_.eot');
    src: url('/Content/site/utility/fonts/Taz_300_Light/Taz_400_.eot?#iefix') format("embedded-opentype"),
         url('/Content/site/utility/fonts/Taz_300_Light/Taz_300_.woff') format("woff"),
         url('/Content/site/utility/fonts/Taz_300_Light/Taz_300_.svg#Taz_300_') format("svg");
    font-weight: 300;
    font-style: normal
}
