﻿/*******************Import Bootstrap and load custom variables******/
@import "site/utility/_site-variables.scss";
@import "_bootstrap.scss";

//=====================================================================
//  Import site sub sass files
//=====================================================================
@import "site/utility/_fonts.scss";
@import "site/utility/_mixins.scss";
@import "site/utility/_media-queries.scss";
@import "site/utility/_colors.scss";
@import "site/_layout.scss";
@import "site/_index.scss";
@import "site/_details.scss";
@import "site/_nominate-accept.scss";
@import "site/_about.scss";
@import "site/_header.scss";
@import "site/modals/_fbLoginModal.scss";
@import "site/modals/_mail-modal.scss";
@import "site/modals/_logInModal.scss";
@import "site/modals/_error.scss";
@import "site/modals/_vote-modal.scss";
@import "site/_accepted.scss";
@import "site/_admin.scss";
@import "site/_thanks.scss";


// styles for recaptha container
.captha-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
