﻿@model Presentation.Web.Models.NomineeAdmin.CommentAdminViewModel

@{
    ViewBag.Title = "Delete";
}

<div style="padding: 10px;">
    <h2>Slet kommentar</h2>

    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Submitted)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Submitted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FacebookUserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FacebookUserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>

        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Slet nu!" class="btn btn-default" /> |
                @Html.ActionLink("Tilbage til oversigten", "Index")
            </div>
        }
    </div>
</div>
