﻿@model IEnumerable<Presentation.Web.Models.NomineeAdmin.CommentAdminViewModel>

@{
    ViewBag.Title = "Admin - Konkurrencer";
}

<div style="padding: 10px;">

    <h2>Kommentarer</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Submitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FacebookUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Text)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitted)
                </td>
                <td>
                    <a href="https://www.facebook.com/@Html.DisplayFor(modelItem => item.FacebookUserId)" target="_blank">@Html.DisplayFor(modelItem => item.FacebookUserId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
