﻿@model Presentation.Web.Models.SettingsAdmin.SettingsAdminViewModel

@{
    ViewBag.Title = "Indstillinger - Admin";
}

<div style="padding: 10px;">

    <h2>Indstillinger</h2>

    @if (!String.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="alert alert-success" role="alert">@Model.Message</div>
    }


    @using (Html.BeginForm("Index", "AdminSettings", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.DefaultContestType, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(model => model.DefaultContestType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DefaultContestType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <h2><b>Skift Forening tekst</b></h2>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FrontpageTitleForening, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FrontpageTitleForening, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FrontpageTitleForening, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <p>
                        Til overskrift vælges <b><em>H1</em></b> under <b><em>Paragraph</em></b> (til højre for <em>formats</em>)
                        Teksten vil på forsiden som udgangspunkt være hvid. Vælg kun anden farve for at overskrive denne.
                    </p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FrontpageTextForening, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FrontpageTextForening, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FrontpageTextForening, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <p>
                        Til overskrift vælges <b><em>H2</em></b> under <b><em>Paragraph</em></b> (til højre for <em>formats</em>).
                        Til brødtekst vælges <b><em>Paragraph.</em></b>
                        Teksten vil på forsiden som udgangspunkt være hvid. Vælg kun anden farve for at overskrive denne.
                    </p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ForeningAboutText, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.ForeningAboutText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ForeningAboutText, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <p>
                        Til overskrift vælges <b><em>H1</em></b> under <b><em>Paragraph</em></b> (til højre for <em>formats</em>).
                        Til brødtekst vælges <b><em>Paragraph.</em></b>
                        Til pligttekst vælges <b><em>H5</em></b>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <h2><b>Upload billeder</b></h2>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ForeningFrontpagePicture, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-md-9">
                    <input type="file" name="@Html.NameFor(x => x.ForeningFrontpagePicture)" />
                    @Html.ValidationMessageFor(model => model.ForeningFrontpagePicture, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ForeningAboutPicture, htmlAttributes: new {@class = "control-label col-xs-2"})
                <div class="col-md-9">
                    <input type="file" name="@Html.NameFor(x => x.ForeningAboutPicture)"/>
                    @Html.ValidationMessageFor(model => model.ForeningAboutPicture, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">&nbsp;</div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>

@section scripts {
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
    <script src="/Scripts/site/admin.js"></script>
}
