﻿@model Presentation.Web.Models.Menu.ForeningMenuViewModel
<div class="navbar-header mobile-nav">
    <div class="col-md-10 col-md-offset-1 navbar-margin col-xs-12">
        <div class="row">
            <a class="header-home hidden-xs" href="http://www.home.dk" target="_blank">
                <img class="pull-right" src="@Url.Content("~/Content/Images/home/home-leave-icon.png")"/>
                <div class="home-text pull-right">
                    home.dk
                </div>
            </a>
            <a class="header-home hidden-xs" href="https://homeprisen2017.home.dk" target="_blank">
                <img class="pull-right" src="@Url.Content("~/Content/Images/home/home-leave-icon.png")"/>
                <div class="home-text pull-right">
                    homePrisen 2017
                </div>
            </a>
        </div>
        <div class="row">
            <div class="header-home-logo col-xs-1 hidden-xs">
                <a class="navbar-logo" href="@Url.Action("Index", "NomineeForening")">
                    <img src="@Url.Content("~/Content/Images/home/Home-logo.png")" />
                </a>
            </div>
            <div class="col-md-9 col-xs-12 pull-right" style="padding-right: 0;">
                <ul id="navbar-links" class="nav navbar-nav navbar-right">
                    <li class="text-nav-link"><a href="@Url.Action("Index", "NomineeForening")" class="text-navbar-link-color">Stem på favorit</a></li>
                    <li class="text-nav-link"><a href="@Url.Action("Nominate", "NominateForening")" class="text-navbar-link-color">Tilmeld konkurrencen</a></li>
                    <li class="text-nav-link"><a href="@Url.Action("ForeningAbout", "About")" class="text-navbar-link-color">Om homePrisen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
