﻿@model Presentation.Web.Models.Menu.IldsjaelMenuViewModel

<!--row 1-->
<div class="row">
    <!--Group logo + brand + toggle for better mobile view-->
    <div class="navbar-header bg-subRow">
        <div class="visible-xs">
            <a href="@Url.Action("Index", "NomineeIldsjael")" class="navbar-logo pull-left">
                <img src='@Url.Content("/Content/Images/logo@2x.png")' />
            </a>


            <a href='@Url.Action("Index", "NomineeIldsjael")' class="navbar-brand navbar-brand-custom pull-left">
                <h5 class="h5-navbar "><b>HOLDER DE LOKALE KØRENDE</b></h5>
            </a>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!--nav bar row 1-->
    <div class="navbar-collapse collapse collapse-navbar-mobile">
        <ul class="nav navbar-nav navbar-right">

            @*navbar links with ropdown for mobile view*@

            <!--empty menuitems used to space dropdown in mobile view-->
            <li class="dropdown text-center open visible-xs">
                <a href="" id="dropdownIldsjael" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    Årets Ildsjæl
                </a>
                <ul class="dropdown-menu" id="dropdown-menu-1">
                    <li class="text-nav-dropdown ">@Html.ActionLink("Stem på din favorit", "Index", "NomineeIldsjael")</li>
                    <li class="text-nav-dropdown ">@Html.ActionLink("Nominér en ildsjæl", "Nominate", "NominateIldsjael")</li>
                    <li class="text-nav-dropdown ">@Html.ActionLink("Om konkurrencen", "IldsjaelAbout", "About")</li>
                </ul>
            </li>
            @if (!Model.ForeningHidden)
            {
                <li class="dropdown text-center visible-xs">
                    <a href="" id="dropdownClub" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Årets Forening og andre lokale Formål
                    </a>
                    <ul class="dropdown-menu" id="dropdown-menu-2">
                        <li class="text-nav-dropdown ">@Html.ActionLink("Stem på din favorit", "Index", "NomineeForening")</li>
                        <li class="text-nav-dropdown ">@Html.ActionLink("Nominér Forening", "Nominate", "NominateForening")</li>
                        <li class="text-nav-dropdown ">@Html.ActionLink("Om konkurrencen", "ForeningAbout", "About")</li>
                    </ul>
                </li>
            }
            <li><a href="http://www.goon.nu" target="_blank" class=" visible-xs">Goon.nu</a></li>
            <li class="visible-xs">
                <a href="@Url.Action("Index","NomineeIldsjael")" class="navbar-dropdown-logo ">
                    <img class="center-block " src='@Url.Content("/Content/Images/logo@2x.png")' />
                </a>
            </li>

            @*Navbar links for desktop view*@

            <li class="text-center hidden-xs">
                <a href="@Url.Action("Index", "NomineeIldsjael")" class=" text-goon-green-light">Årets Ildsjæl</a>
                <div class="icon-container hidden-xs text-center">
                    <span class=" glyphicon glyphicon-triangle-top ildsjael"></span>
                </div>
            </li>
            @if (!Model.ForeningHidden)
            {
                <li class="text-center hidden-xs">
                    <a href="@Url.Action("Index","NomineeForening")">Årets Forening og andre lokale Formål</a>
                </li>
            }
            <li><a href="http://www.goon.nu" target="_blank" class=" hidden-xs">Goon.nu</a></li>
        </ul>
    </div>
</div>
<!--row 2-->
<div class="row bg-subRow subRow hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-offset-1">
                <a href="@Url.Action("Index", "NomineeIldsjael")" class="pull-left">
                    <img src='@Url.Content("/Content/Images/logo@2x.png")' />
                </a>

                <a href='@Url.Action("Index", "NomineeIldsjael")' class="navbar-brand navbar-brand-custom pull-left">
                    <h5 class="h5-navbar "><b>HOLDER DE LOKALE KØRENDE</b></h5>
                </a>
            </div>
        </div>
    </div>
    <ul class="list-inline list-unstyled pull-right navbar-sub-link-ul hidden-xs">
        <li class="text-nav-sub-link "><a href="@Url.Action("Index", "NomineeIldsjael")" class="text-navbar-sub-link-link-color">Stem på din favorit</a></li>
        <li class="text-nav-sub-link "><a href="@Url.Action("Nominate", "NominateIldsjael")" class="text-navbar-sub-link-link-color">Nominér en ildsjæl</a></li>
        <li class="text-nav-sub-link "><a href="@Url.Action("IldsjaelAbout", "About")" class="text-navbar-sub-link-link-color">Om konkurrencen</a></li>
    </ul>
</div>

