@font-face {
    font-family: 'Taz';
    src: url('/Content/site/utility/fonts/Taz_700_Bold/Taz_700_.eot');
    src: url('/Content/site/utility/fonts/Taz_700_Bold/Taz_700_.eot?#iefix') format("embedded-opentype"),
         url('/Content/site/utility/fonts/Taz_700_Bold/Taz_700_.woff') format("woff"),
         url('/Content/site/utility/fonts/Taz_700_Bold/Taz_700_.svg#Taz_700_') format("svg");
    font-weight: 700;
    font-style: normal
}
