@font-face {
    font-family: 'Taz';
    src: url('/Content/site/utility/fonts/Taz_500_Regular/Taz_500_.eot');
    src: url('/Content/site/utility/fonts/Taz_500_Regular/Taz_500_.eot?#iefix') format("embedded-opentype"),
         url('/Content/site/utility/fonts/Taz_500_Regular/Taz_500_.woff') format("woff"),
         url('/Content/site/utility/fonts/Taz_500_Regular/Taz_500_.svg#Taz_500_') format("svg");
    font-weight: 500;
    font-style: normal
}
