﻿@model Presentation.Web.Models.NomineeAdmin.NomineeAdminViewModel

@{
    ViewBag.Title = "Delete";
}

<div style="padding: 10px;">
    <h2>Slet nomineret</h2>

    <h3>Er du sikker på, at du vil slette denne nominerede? Handlingen kan ikke fortrydes.</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contest)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contest.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VoteCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VoteCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rank)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rank)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Zipcode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Zipcode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Slet nu!" class="btn btn-default" /> |
                @Html.ActionLink("Tilbage til oversigten", "Index")
            </div>
        }
    </div>
</div>
