﻿@model PagedList.IPagedList<Presentation.Web.Models.NomineeAdmin.NomineeAdminViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Admin - Nominerede";
}

<div style="padding: 10px;">

    <h2>Nominerede</h2>

    <form action="@Url.Action("Index", "AdminNominee")" method="get" class="form-inline">
        Søg efter:
        <input type="text" name="query" value="@ViewBag.Query" class="form-control" />
        @Html.DropDownList("sort", (SelectList)ViewBag.SortSelect, "Sorter efter", htmlAttributes: new { @class = "form-control" })
        @Html.DropDownList("contestId", (SelectList)ViewBag.ContestSelect, "Alle konkurrencer", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Søg" class="btn btn-primary" />
        <input type="button" value="Nulstil" class="form-control search-reset" />
        <br />&nbsp;
    </form>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Contest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VoteCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rank)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contest.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Edit", new { id = item.Guid })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.ActionLink("Ret", "Edit", new { id = item.Guid }) |
                    @Html.ActionLink("Slet", "Delete", new { id = item.Guid })
                </td>
            </tr>
        }

    </table>


    @Html.PagedListPager(Model,
        page => Url.Action("Index", new {
            query = ViewBag.Query,
            sort = ViewBag.Sort,
            contestId = ViewBag.ContestId,
            page = page,
            }))

</div>


@section scripts
{
    <script>
        $(".search-reset").on('click', function (e) {
            e.preventDefault();
            document.location = '@Url.Action("Index")';
        });
    </script>
}
