﻿@model IEnumerable<Presentation.Web.Models.NomineeAdmin.NomineeVotesViewModel>

@{
    ViewBag.Title = "Admin - Nominerede";
}

<div style="padding: 10px">
    <h2>Vis stemmer</h2>

    <table cellpadding="4" cellspacing="2">
        <tr>
            <th>Tidspunkt</th>
            <th></th>
            <th>Facebook ID</th>
        </tr>

        @foreach (var vote in Model)
        {
            <tr>
                <td>@vote.Created</td>
                <td width="50"></td>
                <td><a href="https://www.facebook.com/@vote.FacebookUserId" target="_blank">@vote.FacebookUserId</a></td>
            </tr>
        }
    </table>
</div>