﻿@using Microsoft.Ajax.Utilities
@model Presentation.Web.Models.Nominee.ForeningDetailsViewModel
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = @Model.Name;
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="contestActiveElemDetails hidden" data-isActive="@Model.IsActive"></div>

<div class="row details-header" style="background-image: url(../../Content/Images/home/Home-header-bcgr.jpg)">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1 h1-header text-white text-center">
                @Model.Name, @Model.City
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <p class="p-header text-white text-center">
                Vinderen af homePrisen 2018 får et kontant skulderklap på 30.000 kroner.
                <br>
                Andenpladsen og tredjepladsen kan se frem til henholdsvis 20.000 og 10.000 kroner.
            </p>
        </div>
    </div>
</div>


<div class="container details-container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 nominee-details-profile-info-container">
            <div class="row row-eq-height">
                <div class="col-nominee-details-container-profile-panel">
                    <div class="row row-flex-2">
                        <div class="col-xs-12 nominee-details-profile-info-ul-container">
                            <ul class="list-inline list-unstyled nominee-details-profile-info-ul">
                                <li class="pull-left">
                                    <div class="info-panel-container text-center">
                                        <p class="text-white">Placering:</p>
                                        <h1 class="text-white rank-number">@Model.Rank</h1>
                                        <p class="text-white">Ud af @Model.TotalNominees kandidater</p>
                                    </div>
                                </li>
                                <li class="pull-right">
                                    <div class="info-panel-container text-center">
                                        <p>&nbsp;</p>
                                        <h1 class="rank-number">@Model.VoteCount</h1>
                                        <p>Stemmer indtil nu</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-nominee-details-container-pic">
                    <img class="nominee-details-profile-pic" src="@Model.PictureUrl" />
                </div>
            </div>

            <div class="col-xs-12 voteBtnBackground hidden-xs">
                <div class="col-xs-12 col-xs-offset-1 col-md-6 col-md-offset-3 nopadding">
                    <button class="btn-green-font btn btn-default btn-block btn-nominee-info-panel voteBtnDetails voteBtn" data-guid="@Model.Guid" data-nomineeName="@Model.Name" data-nomineeUrl="@Model.AbsoluteUrl">Stem på @Model.Name</button>
                </div>
            </div>
            <div class="col-xs-12 visible-xs nopadding">
                <button class="btn-green-font btn btn-default btn-block btn-nominee-info-panel mobile-view-details-btn voteBtn" data-guid="@Model.Guid" data-nomineeName="@Model.Name" data-nomineeUrl="@Model.AbsoluteUrl">Stem på @Model.Name</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="h5-nominee-details">@Model.Name, @Model.City</h5>
                    <p class="nominee-details-bread">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="col-xs-12">

                    <h5 class="h5-nominee-details">Hjælp @Model.Name, @Model.City med at vinde</h5>

                    <p class="nominee-details-bread">

                        Der er kamp mellem de mange nominerede projekter, og alle stemmer tæller.
                        Vi har gjort det nemt for dig at hjælpe @Model.Name med at vinde homePrisen 2018:

                    </p>

                    <img class="share-image share-panel-container btn-info-panel-share fb-share" data-url="@Model.AbsoluteUrl" src="@Url.Content("~/Content/Images/home/home-facebook-icon.png")" />
                    <img class="share-image mail-share" data-guid="@Model.Guid" data-url="@Url.Action("Recommend")" src="@Url.Content("~/Content/Images/home/home-mail-icon.png")" />
                </div>
            </div>

            <div class="row comments">
                <div class="col-xs-12">
                    <h5 class="h5-nominee-details">Læs, hvorfor andre har valgt at stemme på @Model.Name</h5>

                    <div class="row">
                        <div class="col-xs-12 container"></div>
                    </div>
                    <div class="loader hidden">
                        <div class="row">
                            <div class="col-xs-2 col-xs-offset-5 text-center">
                                <i class="fa fa-spinner fa-3x fa-spin"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <p class="lead ">Kommentarer hentes</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-xs-offset-3 col-sm-offset-0 load-more">
                            <a href="#" class="load-more-container details">
                                <div class="show-more text-center">
                                    <img class="center-block" src="/Content/Images/Chevron-down.png" />
                                    <p>vis flere kommentarer</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-5 hidden-xs">
            <h5 class="h5-nominee-details">Hjælp @Model.Name med at vinde</h5>

            <p class="nominee-details-bread">
                Der er kamp mellem de mange nominerede projekter, og alle stemmer tæller. Vi har gjort det nemt for dig at hjælpe @Model.Name med at vinde homePrisen 2018:
            </p>

            <h5 class="h5-nominee-details">Del afstemningen med dine venner</h5>

            <img class="share-image share-panel-container btn-info-panel-share fb-share" data-url="@Model.AbsoluteUrl" src="@Url.Content("~/Content/Images/home/home-facebook-icon.png")" />
            <img class="share-image mail-share" data-guid="@Model.Guid" data-url="@Url.Action("Recommend")" src="@Url.Content("~/Content/Images/home/home-mail-icon.png")" />

            <div class="row">
                <div class="col-sm-12">
                    <h6 class="h6-nominee-details"><h5 class="h5-nominee-details">Download flyers og plakater, og del dem i dit nærområde</h5></h6>

                    <div class="row nominee-details-thumb-container">
                        <div class="col-sm-4 thumb-left">
                            <a href="@Model.PosterSolid.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.PosterSolid.ThumbUrl" /></a>
                        </div>
                        <div class="col-sm-4">
                            <a href="@Model.PosterFbPic.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.PosterFbPic.ThumbUrl" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="h6-nominee-details">Plakater</h6>
                        </div>
                    </div>

                    <!--TO DO: generate flyers -->
                    <div class="row nominee-details-thumb-container">
                        <div class="col-sm-4 thumb-left">
                            <a href="@Model.FlyerSolid.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.FlyerSolid.ThumbUrl" /></a>
                        </div>
                        <div class="col-sm-4">
                            <a href="@Model.FlyerFbPic.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.FlyerFbPic.ThumbUrl" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="h6-nominee-details">Flyers</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="h6-nominee-details"><h5 class="h5-nominee-details">Skift dit baggrundsbillede på Facebook:</h5></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="@Model.FbCover.LinkUrl" target="_blank"><img class="nominee-details-thumb nominee-details-fb-cover" src="@Model.FbCover.ThumbUrl" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="@Model.FbCoverSolid.LinkUrl" target="_blank"><img class="nominee-details-thumb" src="@Model.FbCoverSolid.ThumbUrl" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="nominee-details-fbCover-text">
                                <small>Højreklik på et af billederne og gem det. Så kan du bruge det som cover-billede på din Facebook-profil.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="comments-template hidden">
    <div class="row comment-row-container">
        <div class="col-xs-3">
            <img class="nominee-details-comment-pic" src="/Content/Images/no-image.png" />
        </div>
        <div class="col-xs-9">
            <p class="nominee-details-bread">
                <i class="nominee-details-comment-text">
                </i>
            </p>
            <p class="nominee-details-bread">
                <b class="nominee-details-comment-name-city"></b>
            </p>
        </div>
    </div>
</div>

@section head
{
    <meta property="og:type" content="profile" />
    <meta property="og:site_name" content="Støtdelokale.nu" />
    <meta property="og:title" content="homePrisen 2018" />
    <meta property="og:description" content="Stem på @Model.Name til homePrisen 2018" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image" content="@Html.Raw(@Model.PictureAbsoluteUrl)" />
    <meta property="og:locale" content="da_DK" />
}

@section scripts
{
    <script type="text/javascript">
        GetNomineesUrl = '@Url.Action("List")';
        GetRanksUrl = '@Url.Action("GetRanks")';
        PlaceVoteUrl = '@Url.Action("PlaceVote")';
        PlaceCommentUrl = '@Url.Action("PlaceComment", "Comment")';
        GetCommentsUrl = '@Url.Action("GetComments", "Comment")';
        NomineeId = '@Model.Guid';
    </script>
    <script type="text/javascript" src="/Scripts/site/facebook.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominee.js"></script>
    <script type="text/javascript" src="/Scripts/site/details.js"></script>
    <script type="text/javascript" src="/Scripts/site/share.js"></script>

}
