﻿@model Presentation.Web.Models.Nominee.ForeningIndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "homePrisen 2018";
    ViewBag.FacebookTrackingEvent = "PageView";
}

<div class="contestActiveElem hidden" data-contest="@Model.IsActive"></div>

<div class="container-fluid header-bg">
    <div class="col-xs-12 header-img" style="background-image: url(@Model.PhotoUrl)">
        <div class="container">
            <div class="row header-container image-header">
                <div class="col-xs-12 col-centered frontpage-title">
                    @Html.Raw(Model.FrontpageTitle)
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-centered frontpage-text">
                    <p>
                        @Html.Raw(Model.FrontpageText)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-centered header-btn">
                    <a href="@Url.Action("Nominate", "NominateForening")" class="btn btn-header btn-block">Nominér lokalt projekt</a>
                </div>
            </div>
        </div>
        <div class="index-container inActive">
            <div class="container-fluid">
                <div class="row hidden-xs">
                    <form class="form-inline form-inline-desktop-index clearfix search search-desktop">
                        <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-3">
                            <label for="searchInput" class="home-text-font">
                                Se alle de nominerede, og støt dit favorit projekt:
                            </label>
                        </div>
                        <div class="col-sm-3 col-lg-2">
                            <div class="input-group" id="inpu-group">
                                <span class="pull-right input-group-btn">
                                    <button class="btn btn-search searchInput home-text-font" type="submit" value="Test">
                                        <img src="@Url.Content("~/Content/Images/home/home-search-icon.png")" />
                                    </button>
                                </span>
                                <input type="text" class="pull-right form-control phrase bg-search-inactive search-text" placeholder="Søg på navn, postnummer eller by" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-lg-offset-3">
                                <input class="form-control btn btn-search btn-top-15 phrase top-15 home-text-font" type="button" value="Se top 15" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-xs">
    <div class="col-sm-10 col-sm-offset-1">
        <form class="form-horizontal clearfix search search-mobile form-horizontal-mobile-index">
            <div class="form-group">
                <div class="col-xs-12">
                    <label for="searchInput" class="home-text-font">
                        Se alle de nominerede, og støt dit favorit projekt:
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control phrase" placeholder="Søg på navn, postnummer eller by" />
                        <span class="input-group-btn">
                            <button class="btn btn-search searchInput home-text-font" type="submit">
                                <img src="@Url.Content("~/Content/Images/home/home-search-icon.png")" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control btn btn-search btn-top-15 phrase top-15 home-text-font" type="button" value="Se top 15" />
                </div>
            </div>
        </form>
    </div>
</div>


<div class="inActive">
    <div class="container" id="NomineeList">
        <div class="row hidden no-results">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <p class="lead">Der blev desværre ikke fundet nogle kandidater</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 nominees"></div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">

                <div class="loader text-center">
                    <img src="/Content/ajaxloader.gif" />
                </div>

                <div class="load-more">
                    <a href="#" class="load-more-container">
                        <div class="show-more text-center">
                            <img class="center-block" src="/Content/Images/Chevron-down.png" />
                            <br />
                            <p>Se flere kandidater</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
    </div>
</div>

<!--Nominee template-->
<div class="hidden nominee-template inActive">
    <div class="col-md-4 nominee-container">
        <div class="row">
            <div class="col-xs-12 nominee-index-profile-pic picture">
                <div class="picture-overlay">
                    <a href="" class="morelink"></a>
                </div>
                <div class="picture-bottom-overlay">
                    <div class="custom-box">
                        <div class="info-panel-container box-margins">
                            <h5 class="text-white rank"></h5>
                            <p class="text-white">Plads</p>
                        </div>
                    </div>
                    <div class="custom-box">
                        <div class="info-panel-container box-margins">
                            <h5 class="text-white voteCount"></h5>
                            <p class="text-white">Stemmer</p>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="custom-box pull-left">
                            <div class="info-panel-container">
                                <h4 class="text-white text-share">Del</h4>
                            </div>
                        </div>
                        <div class="custom-box pull-left">
                            <div class="info-panel-container">
                                <div class="fb-share">
                                    <img class="fixed-icon-size" src="~/Content/Images/home/home-fb-icon-invert.png" />
                                </div>
                            </div>
                        </div>
                        <div class="custom-box pull-left">
                            <div class="info-panel-container">
                                <div class="mail-share" data-name="" data-url="@Url.Action("Recommend")">
                                    <img class="fixed-icon-size" src="~/Content/Images/home/home-email-icon-invert.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nominee-info">
            <div class="row">
                <div class="col-xs-12 nominee-header-height">
                    <div class="wrapper">
                        <h4 class="text-index-nominee-header name nominee-header"></h4>
                        <h4 class="text-index-nominee-header city nominee-header"></h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 comment-container">
                    <h4>
                        <small class="comment more description nominee-description"></small>
                        <br>
                        <a href="" class="morelink">
                            <small>
                                <b>Læs mere</b>
                            </small>
                        </a>
                        <br>
                        <br>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-block voteBtn nominee-btn-overlay">Stem nu</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section head
{
    <meta property="og:image" content="@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]Content/Images/home/homeprisenfb.png"/>
}

@section scripts
{
    <script type="text/javascript">
        GetNomineesUrl = '@Url.Action("List")';
        GetRanksUrl = '@Url.Action("GetRanks")';
        PlaceVoteUrl = '@Url.Action("PlaceVote")';
        PlaceCommentUrl = '@Url.Action("PlaceComment", "Comment")';
    </script>
    <script type="text/javascript" src="/Scripts/jquery.history.js"></script>
    <script type="text/javascript" src="/Scripts/site/facebook.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominee.js"></script>
    <script type="text/javascript" src="/Scripts/site/home.js"></script>
    <script type="text/javascript" src="/Scripts/site/share.js"></script>
}




