﻿//=====================================================================
//  generel color styles
//=====================================================================
.text-goon-green-light {
    color: $HomeRed !important;
}

.text-goon-green {
    color: $HomeRed;
}

.text-white {
    color: white;
}

.text-header-white {
    color: #fafafa;
}

.text-header-btn-gray {
    color: $HomeLightGrey;
}

.text-black {
    color: black;
}

.text-header-yellow {
    color: $headerYellow;
}

.text-header-p-gray {
    color: $header-p-gray-color;
}

.text-navbar-logo-gray {
    color: $navbar-logo-gray;
}

.text-navbar-link-color {
    color: $sub-link-link-color;
}

.bg-white {
    background: white;
}

.bg-subRow {
    background: $navbar-custom-subRow-color;
}

.bg-header-topbar-dark-gray {
    background: $header-top-bar-bg;
}

.bg-search-inactive {
    background: $search-inactive-bg;
}