﻿/*************Vertical align mixin***********************/
@mixin vertical-align($procentage) {
    position: relative;
    top: $procentage;
    -webkit-transform: translateY(-$procentage);
    -ms-transform: translateY(-$procentage);
    -moz-transform: translateY(-$procentage);
    -o-transform: translateY(-$procentage);
    transform: translateY(-$procentage);
}

@mixin footer-image($file-name) {
    background: url(/Content/Images/home/#{$file-name}?crop=0,0.0000000000000030079642480511,0.0000000000000030316490059098,70&cropmode=percentage&width=635&heightratio=0.3149606299212598425196850394&format=jpg&slimmage=true&quality=90&rnd=131229855040000000);
    background-position: center;
    background-size: cover;
    height: 200px;
}
