﻿$font-family-taz:           Taz, Verdana, sans-serif;
$font-family-base:          $font-family-taz;

/**********************COLOR VARIABLES****************/
$HomeRed:                                   #d00200;
$HomeLightGrey:                             #eeeeee;
$HomeDarkGrey:                              #423f3a;

$header-bg:                                 #6e6e6e;
$header-p-gray-color:                       #1d1d1d;
$header-top-bar-bg:                         #444444;

$nominee-details-profile-bg:                #313131;
$nominee-details-profile-border-color:      #403f3f;

$search-inactive-bg:                        #eeeeed;
$navbar-logo-gray:                          #393636;

$share-panel-in-bg:                         rgba(202,202,202,.7);
$headerYellow:                              #bbc654;
/********************Navbar variables*****************/
$navbar-height:                             30px;
$navbar-padding-vertical:                   7px;
$navbar-collapse-max-height:                500px;
$navbar-inverse-bg:                         #393636;
$navbar-inverse-link-color:                 white;
$navbar-inverse-link-hover-color:           #b3b3b3;
$navbar-inverse-brand-color:                #494343;
$navbar-inverse-brand-hover-color:          #494343;
$navbar-inverse-link-active-bg:             transparent;
$navbarSubRowHeight:                        50px;
$navbar-custom-subRow-color:                #f5f5f5;

$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-icon-bar-bg:         black;
$navbar-inverse-toggle-border-color:        transparent;

$navbar-mobile-border-color:                #b4b4b4;

/*********************navbar sub link variables*****************/
$sub-link-bg:                               rgba(0,0,0,0);
$sub-link-link-color:                       #615e5e;
$sub-link-link-hover-color:                 $HomeRed;
$sub-link-link-hover-bg:                    rgba(0,0,0,0);

/*********************Kill all round corners***************/

$border-radius-base:                        0;
$border-radius-large:                       0;
$border-radius-small:                       0;

/***********************grid variables******************/

$grid-gutter-width:                         30px;

/***********************Btn Variables*****************/

$btn-default-bg:                            $HomeRed;
$btn-default-color:                         white;

$btn-search-bg:                             #393535;
$btn-search-color:                          white;

$btn-header-bg:                             #cdde55;
$btn-header-color:                          black;

$btn-upload-bg:                             #3c3c3c;
$btn-upload-color:                          white;

