﻿@model Presentation.Web.Emails.ForeningNomineeAcceptedEmail
To: @Model.Nominee.ResponsibleName <@Html.Raw(Model.Nominee.Email)>
From: home.dk/homeprisen <@Html.Raw("homeprisen@home.dk")>
Subject: Bekræftelse af nominering til homePrisen 2018
Content-Type: text/html

<html>
<head>
    <title>home.dk/homeprisen</title>
</head>
<body>
    <h2>Hej @Model.Nominee.ResponsibleName,</h2>
    <P>
        Tak for din accept af nomineringen til homePrisen 2018. Du er nu officielt med i afstemningen.
    </P>
    <p>
        Du finder siden til @Model.Nominee.Name her:
    </p>

    <p><a href="@Html.Raw(@Model.NomineeUrl)">@Html.Raw(@Model.NomineeUrl)</a></p>

    <p>Venlig hilsen</p>
    <h4><b>homePrisen 2018</b></h4>
</body>
</html>

