﻿@model Presentation.Web.Emails.ForeningNominatorThanksEmail
To: @Model.Nominee.NominatorName <@Html.Raw(Model.Nominee.NominatorEmail)>
From: home.dk/homeprisen <@Html.Raw("homeprisen@home.dk")>
Subject: Bekræftelse af nominering til homePrisen 2018
Content-Type: text/html

<html>
<head>
    <title>home.dk/homeprisen</title>
</head>
<body>
    <h2>Hej @Model.Nominee.NominatorName,</h2>

    <p>
        Mange tak, fordi du har valgt at indstille @Model.Nominee.Name til homePrisen 2018. Og det mener vi faktisk.
        Alle nomineringer kommer nemlig fra lokalbefolkningen eller fra folk med tilknytning til et lokalområde,
        så uden folk som dig kunne vi ikke finde frem til alle de seje og spændende projekter.
    </p>
    <p>
        Når @Model.Nominee.Name har accepteret nomineringen, kan projektet ses på sitet.
        Husk at opfordre alle dine venner til at stemme også - der er kamp om præmien blandt de mange projekter!
    </p>
    <p>Venlig hilsen</p>
    <h4><b>homePrisen 2018</b></h4>
</body>
</html>
