﻿@model Presentation.Web.Emails.ForeningRecommendEmail
To: @Model.RecipientName <@Html.Raw(Model.RecipientEmail)>
    From: @Model.SenderName <@Html.Raw(@Model.SenderEmail)>
        Subject: homePrisen 2018
        Content-Type: text/html

        <html>
        <head>
            <title>home.dk/homeprisen</title>
        </head>
        <body>
            <h2>Hej @Model.RecipientName,</h2>
            <p>
                @Model.Nominee.Name er nomineret til homePrisen 2018, som hylder projekter,
                der skaber lokal stolthed rundt omkring i landet. Førstepræmien er på 30.000 kroner.
            </p>
            <p>
                Der er kamp mellem de mange nominerede projekter, og alle stemmer tæller.
                Derfor vil jeg blive utrolig glad, hvis du gider at bruge to minutter på at stemme på @Model.Nominee.Name!
            </p>
            <p>
                Klik ind på sitet, stem, og del:
            </p>
            <p>
                <a href="@Html.Raw(Model.NomineeDetailsUrl)">@Html.Raw(Model.NomineeDetailsUrl)</a>
            </p>
            <p>@Model.Message</p>
            <p>
                Venlig hilsen,
            </p>
            <p>
                @Model.SenderName
            </p>
            <p>Jeg har sendt denne besked fra home.dk/homeprisen</p>
        </body>
    </html>

