﻿@model Presentation.Web.Emails.ForeningNominationEmail
To: @Model.Nominee.ResponsibleName <@Html.Raw(Model.Nominee.Email)>
    From: home.dk/homeprisen <@Html.Raw("homeprisen@home.dk")>
        Subject: Du er indstillet til homePrisen 2018!
        Content-Type: text/html

        <html>
        <head>
            <title>home.dk/homeprisen</title>
        </head>
        <body>
            <h2>Hej @Model.Nominee.ResponsibleName,</h2>

            <p>Vi er glade for at kunne fortælle dig, at @Model.Nominee.NominatorName har nomineret dit projekt, @Model.Nominee.Name, til homePrisen 2018!</p>
            <p>
                Med homePrisen fejrer vi, at vores mange lokale ejendomsmæglere i home oplever så meget lokal stolthed rundt omkring i det danske landskab.
                Netop den stolthed tilfører energi og nye borgere til mindre byer, og det hylder vi med tre kontante skulderklap.
                Førstepræmien modtager 30.000 kroner, andenpladsen 20.000 kroner, mens tredjepladsen løber af sted med 10.000 kroner. Læs mere på <a href="@Html.Raw(Model.AboutUrl)">@Html.Raw(Model.AboutUrl)</a>
            </p>
            <p>
                Inden vi indlemmer dig i afstemningen, skal du dog lige bekræfte nomineringen og fortælle en lille smule mere om dit projekt.
                Det gør du på dette link:
            </p>

            <p><a href="@Html.Raw(Model.AcceptUrl)">@Html.Raw(Model.AcceptUrl)</a></p>

            <p>Det er først, når du har gjort dette, at andre kan stemme på dit projekt.</p>

            <p>Venlig hilsen</p>
            <h4><b>homePrisen 2018</b></h4>
        </body>
    </html>


