﻿@model Presentation.Web.Emails.ForeningNominatorAcceptedEmail
To: @Model.Nominee.NominatorName <@Html.Raw(Model.Nominee.NominatorEmail)>
From: home.dk/homeprisen <@Html.Raw("homeprisen@home.dk")>
Subject: Din nominering er nu accepteret
Content-Type: text/html

<html>
    <head>
        <title>home.dk/homeprisen</title>
    </head>
    <body>
        <h2>Hej @Model.Nominee.NominatorName,</h2>

        <p>
            Vi er glade for at kunne fortælle dig, at @Model.Nominee.ResponsibleName har accepteret din nominering af @Model.Nominee.Name til homePrisen 2018.
            Det betyder at @Model.Nominee.Name nu er en aktiv kandidat!
        </p>
        <p>
            Du kan finde kandidatens side på <a href="@Html.Raw(Model.NomineeUrl)">@Html.Raw(Model.NomineeUrl)</a>
            og følge med i, hvor mange stemmer projektet har fået. Husk at dele denne side, for eksempel på Facebook, så @Model.Nominee.Name
            får så mange stemmer som muligt og måske bliver vinderen af homePrisen 2018.
        </p>

        <p>Venlig hilsen</p>
        <h4><b>homePrisen 2018</b></h4>

        <p>PS: Husk, du gerne må nominere flere foreninger/formål.</p>
    </body>
</html>

