﻿@model Presentation.Web.Emails.IldsjaelNominatorAcceptedEmail
To: @Model.Nominee.NominatorName <@Html.Raw(Model.Nominee.NominatorEmail)>
From: Støtdelokale.nu <@Html.Raw("no-reply@støtdelokale.nu")>
Subject: Din kandidat har accepteret din nominering til Årets Ildsjael
Content-Type: text/html

<html>
<head>
    <title>Støtdelokale.nu</title>
</head>
<body>
    <h2>Kære @Model.Nominee.NominatorName</h2>

    <p>
        @Model.Nominee.Name har accepteret din nominering til Årets Ildsjæl.
        Det betyder, at @Model.Nominee.Name nu er en aktiv kandidat på støtdelokale.nu, som andre kan stemme på.
    </p>

    <p>
        Du kan finde kandidatens side på <a href="@Html.Raw(Model.NomineeUrl)">@Html.Raw(Model.NomineeUrl)</a>
        og følge med i, hvor mange stemmer din kandidat har fået. Husk at dele denne side, for eksempel på Facebook, så @Model.Nominee.Name
        får så mange stemmer som muligt og måske bliver Årets Ildsjæl 2016 - og vinder førstepræmien på 25.000 kroner.
    </p>

    <h4>Må den største ildsjæl vinde.</h4>
    <p>Med venlig hilsen</p>

    <h4><b>Go'on</b></h4>

    <p>PS: Husk, du gerne må nominere andre ildsjæle.</p>

</body>
</html>
