﻿@model Presentation.Web.Emails.IldsjaelNominatorThanksEmail
To: @Model.Nominee.NominatorName <@Html.Raw(Model.Nominee.NominatorEmail)>
From: Støtdelokale.nu <@Html.Raw("no-reply@støtdelokale.nu")>
Subject: Tak for din nominering
Content-Type: text/html

<html>
<head>
    <title>Støtdelokale.nu</title>
</head>
<body>
    <h2>Kære @Model.Nominee.NominatorName</h2>

    <p>
        Tak for din nominering af @Model.Nominee.Name til Årets Ildsjæl.
    </p>
    <p>
        Vi sender en mail til den nominerede for at sige tillykke, og så den nominerede kan acceptere
        sin deltagelse i konkurrencen.
    </p>
    <p>
        Når nomineringen er accepteret, bliver din kandidat aktiveret på støtdelokale.nu, så andre
        kan stemme på ham eller hende.
    </p>
    <p>
        Må den største ildsjæl vinde.
    </p>

    <p>Med venlig hilsen</p>

    <h4><b>Go'on</b></h4>

    <p>PS: Husk, du gerne må nominere flere ildsjæle.</p>
</body>
</html>

