﻿@model Presentation.Web.Emails.IldsjaelNomineeAcceptedEmail
To: @Model.Nominee.Name <@Html.Raw(Model.Nominee.Email)>
From: Støtdelokale.nu <@Html.Raw("no-reply@støtdelokale.nu")>
Subject: Du er nu med i konkurrencen om at være Årets Ildsjæl
Content-Type: text/html

<html>
<head>
    <title>Støtdelokale.nu</title>
</head>
<body>
    <h2>Kære @Model.Nominee.Name</h2>
    <P>
        Tak for din accept af nomineringen til Årets Ildsjæl.
        Du er nu en aktiv kandidat på støtdelokale.nu, som andre kan stemme på.
    </P>
    <p>
        Du kan finde din personlige kandidatside på <a href="@Html.Raw(@Model.NomineeUrl)">@Html.Raw(@Model.NomineeUrl)</a> og følge med i,
        hvor mange stemmer du har fået.
        Husk at dele denne side for eksempel på Facebook, så du
        får så mange stemmer som muligt og måske bliver Årets Ildsjæl 2016 – og vinder førstepræmien på 25.000 kroner.
    </p>

    <p>Held og lykke!</p>

    <p>Med venlig hilsen</p>
    <h4><b>Go'on</b></h4>
    <p>PS: Husk, du gerne må nominere andre ildsjæle.</p>
</body>
</html>
