﻿@model Presentation.Web.Emails.IldsjaelNominationEmail
To: @Model.Nominee.Name <@Html.Raw(Model.Nominee.Email)>
From: Støtdelokale.nu <@Html.Raw("no-reply@støtdelokale.nu")>
Reply-to: no-reply@støtdelokale.nu
Subject: Du er blevet nomineret til Årets Ildsjæl
Content-Type: text/html; charset=utf-8

<html>
<head>
    <title>Støtdelokale.nu</title>
</head>
<body>
    <h2>Kære @Model.Nominee.Name</h2>

    <p>Tillykke! @Model.Nominee.NominatorName har nomineret dig til Årets Ildsjael.</p>
    <p>
        Årets Ildsjael er en pris, der hylder de ildsjæle, som er med til at sætte gang i lokalområdet.
        Årets Ildsjæl kåres ved en afstemning på nettet og vinder samtidig <b>25.000 kroner</b>.
    </p>

    <h3><b>Vigtigt: Du skal acceptere nomineringen</b>
    </h3>
    <p>
        Før du kan deltage i kåringen, skal du acceptere din nominering.
        Det er først, når du har gjort dette, at andre kan stemme på dig.
        <a href="@Html.Raw(Model.AcceptUrl)">Du kan acceptere nomineringen her</a>.
    </p>
    <h4>Må den største ildsjæl vinde.</h4>
    <p>Med venlig hilsen</p>

    <h4><b>Go'on</b></h4>

    <p>PS: Husk, du gerne må nominere andre ildsjæle.</p>
</body>
</html>

