﻿@model Presentation.Web.Emails.IldsjaelRecommendEmail
To: @Model.RecipientName <@Html.Raw(Model.RecipientEmail)>
From: @Model.SenderName <@Html.Raw(@Model.SenderEmail)>
Subject: Årets Ildsjæl anbefaling
Content-Type: text/html

<html>
<head>
    <title>Støtdelokale.nu</title>
</head>
<body>
    <h2>Kære @Model.RecipientName</h2>

    <p>
        Jeg har delt kandidaten @Model.Nominee.Name med dig.
        Du kan læse mere <a href="@Html.Raw(Model.NomineeDetailsUrl)">her</a>
    </p>

    <p>@Model.Message</p>

    ´
    <p>Med venlig hilsen</p>
    <p>@Model.SenderName</p>

    <p>Jeg har sendt denne besked fra støtdelokale.nu.</p>
</body>
</html>

