﻿@model Presentation.Web.Emails.RealtorAcceptedEmail
To: @Model.Realtor.Name <@Html.Raw(Model.Realtor.Email)>
From: home.dk/homeprisen <@Html.Raw("homeprisen@home.dk")>
Subject: homePrisen 2018 – en nominering
Content-Type: text/html
<html>
<head>
    <title>home.dk/homeprisen</title>
</head>
<body>
    <h2>Kære home forretning</h2>
    <p>
        Der er kommet en nominering i jeres lokalområde til homePrisen 2018.<br/>
        Det kan I godt være stolte af – og for at vise jeres opbakning til projektet og dermed til lokalområdet, vil det være rigtig godt, om I deler nyheden på Facebook.
    </p>
    <p>
        De Lokale (Nina) har en skabelon og tekst liggende, så de nemt kan lave et post til jer.<br/>
        I kan også dele på FB direkte inde fra selve nomineringen, men det bliver mere lokalt fra jeres side, hvis I får lavet jeres egen post.
    </p>
    <p>
        Og bliv endelig ved med at opfordre folk til at nominere – måske er det i jeres område, vi finder vinderen.
    </p>
    <p>
        Har du spørgsmål – tag fat i Christina hos home a/s.
    </p>
    <p>
        I finder siden til projektet @Model.Nominee.Name her:
    </p>
    <p>
        <a href="@Html.Raw(@Model.NomineeUrl)">@Html.Raw(@Model.NomineeUrl)</a>
    </p>
    <p>Venlig hilsen</p>
    <h4><b>homePrisen 2018</b></h4>
</body>
</html>
