﻿.h5-facebook-login {
    font-size: 1.3em;
    color: #8d8d8d;
    letter-spacing: .3px;
}

.vote-modal-textarea {
    width: 100%;
    height: 130px;
    margin: 10px 0 30px;
    padding: 7px;
    border: none;
    background: #eeeeee;
    font-style: italic;
}

.btn-fb-modal {
    background: $HomeRed;
    color: white;
}
