﻿.mail-modal{
    .form-group {
        .mail-modal-label {
            line-height: 1.5;
            }
    }
}

.vote-modal-bread {
    margin: 10px 30px;
    a {
        color: white;
        text-decoration: underline;
    }
}
