﻿//=====================================================================
//  about styles
//=====================================================================
.about-header-banner {
    min-height: 200px;

    @include respond-to(sm) {
        min-height: 360px;
    }

    @include respond-to(md) {
        min-height: 500px;
    }
}

.aboutpage-title {
    color: white;
    margin-top: 15px;

    @include respond-to(xs) {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    @include respond-to(sm) {
        margin-top: 40px;
    }

    h1 {
        font-family: $font-family-base;
        font-weight: 500;
        text-align: left;
        font-size: 1.4em;

        @include respond-to(xs) {
            font-size: 1.6em;
        }

        @include respond-to(sm) {
            font-size: 2.6em;
        }

        @include respond-to(md) {
            font-size: 3.7em;
        }
    }

    .text-header-red {
        color: $HomeRed;
        font-weight: 600;
    }
}

.about-text {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: $font-family-base;

    h1, p {
        @include respond-to(xxs) {
            font-size: 0.9em;
        }

        @include respond-to(xs) {
            font-size: 1.0em;
        }

        @include respond-to(sm) {
            font-size: 1.1em;
        }

        @include respond-to(md) {
            font-size: 1.2em;
        }

        @include respond-to(lg) {
            font-size: 1.3em;
        }
    }

    h5 {
        font-size: 14px;
        line-height: 1.42857;
    }
}

.header-container {
    max-width: 650px;

    @include respond-to(md) {
        max-width: 1050px;
    }
}
