﻿//=====================================================================
//  details styles
//=====================================================================
//Utility classes
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row-flex-2 {
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    display: flex;
}

.rank-number {
    font-size: 120px;
}

//fonts
.h4-nominee-details {
    padding-right: 10px;

    @include respond-to(xxs) {
        font-size: .8em;
        margin: 8px 0 2px;
    }

    @include respond-to(xs) {
        font-size: 1.4em;
        margin: 10px 0 4px;
    }

    @include respond-to(md) {
        font-size: 2em;
    }

    @include respond-to(lg) {
        font-size: 2.3em;
    }
}

.h5-nominee-details {
    font-family: $font-family-base;
    font-weight: 300;
    font-size: 36px;
    margin: 10px 0;
}

.h6-nominee-details {
    letter-spacing: .5px;
}

.nominee-details-bread {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px;
}


/***************Nominee Details styles*************************/
//Profile panel styles
.nominee-details-profile-info-container {
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;

    .col-nominee-details-container-profile-panel {
        width: 50%;
        float: left;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        background: $HomeLightGrey;
        max-height: 200px;
    }

    .nominee-details-profile-info-ul-container {
        padding: 0;
        display: flex;

        .nominee-details-profile-info-ul {
            display: flex;
            flex-grow: 1;
            margin: 0;
            border-top: 0px solid $nominee-details-profile-border-color;

            > li {
                display: flex;
                align-items: stretch;

                &:first-child {
                    background: $HomeRed;
                }

                .share-button {
                    cursor: pointer;
                }

                width: 50%;
                border-right: 0px solid $nominee-details-profile-border-color;

                .info-panel-container {
                    flex-grow: 1;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    p {
                        padding-left: 5px;
                        padding-right: 5px;
                    }

                    @include respond-to(xxs) {
                        p {
                            font-weight: 400;
                            font-size: 0.8em;
                        }

                        h1 {
                            font-weight: 300;
                            font-size: 2.5em;
                        }
                    }

                    @include respond-to(xs) {
                        p {
                            font-weight: 400;
                            font-size: 1em;
                        }

                        h1 {
                            font-size: 120px;
                            font-weight: 300;
                            padding-bottom: 0;
                        }
                    }

                    @include respond-to(sm) {
                        p {
                            font-weight: 400;
                            font-size: 1.2em;
                        }

                        h1 {
                            font-weight: 300;
                            font-size: 120px;
                        }
                    }

                    @include respond-to(md) {
                        p {
                            font-weight: 400;
                            font-size: 1.5em;
                        }

                        h1 {
                            font-weight: 300;
                            font-size: 120px;
                        }
                    }

                    @include respond-to(lg) {
                        p {
                            font-weight: 400;
                            font-size: 1.6em;
                        }

                        h1 {
                            font-weight: 300;
                            font-size: 120px;
                        }
                    }

                    h1, p {
                        margin: 0;
                    }
                }

                &.share-li {
                    .info-panel-share {
                        height: auto;

                        @include respond-to(xxs) {
                            width: 20%;
                            margin-bottom: 5px;
                            margin-left: 3px;
                        }

                        @include respond-to(xs) {
                            width: 31%;
                            margin-bottom: 10%;
                            margin-left: 3px;
                        }

                        @include respond-to(sm) {
                            width: 26%;
                            margin-bottom: 5px;
                            margin-left: 3px;
                        }

                        @include respond-to(md) {
                            width: 35%;
                            margin-bottom: 5px;
                            margin-left: 3px;
                        }

                        @include respond-to(lg) {
                            width: 36%;
                            margin-bottom: 5px;
                            margin-left: 3px;
                        }
                    }

                    &:hover {
                        @include respond-to(md) {
                            -moz-transition: background .2s ease-in-out;
                            -o-transition: background .2s ease-in-out;
                            -webkit-transition: background .2s ease-in-out;
                            transition: background .2s ease-in-out;
                            background: rgba(202, 202, 202,.5);
                        }
                    }
                }
            }
        }
    }

    .voteBtnBackground {
        background-color: $navbar-logo-gray;
        align-items: center;
        padding: 0 15% 0 15%;
        display: flex;

        @include respond-to(md) {
            padding: 0;
        }
    }
    //profile panel picture and share panel styles
    .col-nominee-details-container-pic {
        width: 50%;
        max-height: 200px;
        float: left;
        padding-left: 0;
        position: relative;
        overflow: hidden;

        #nomineeDetailsProfileSharePanel {
            -moz-transition: all .6s ease-in-out;
            -o-transition: all .6s ease-in-out;
            -webkit-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
            position: absolute;
            left: -35%;
            bottom: -10px;
            width: 35%;
            height: 100%;
            color: white;
            background: $nominee-details-profile-bg;

            > li {
                height: 33.333%;
                width: 100%;
                padding: 0;

                .twitter-link:hover {
                    color: white;
                }

                .twitter-link:focus {
                    color: white;
                }

                .twitter-link {
                    display: block;
                    text-decoration: none;

                    .share-panel-container {
                        @include respond-to(xxs) {
                            i {
                                font-size: 1em;
                                padding-bottom: 0;
                                //center icon in the middle of container
                                @include vertical-align(-50%);
                            }
                        }

                        @include respond-to(xs) {
                            @include vertical-align(-80%);

                            i {
                                font-size: 1.4em;
                                padding-bottom: 0;
                            }
                        }

                        @include respond-to(sm) {
                            @include vertical-align(-20%);

                            i {
                                font-size: 2em;
                                padding-bottom: 6px;
                            }
                        }

                        @include respond-to(md) {
                            @include vertical-align(-40%);

                            i {
                                font-size: 2.3em;
                                padding-bottom: 6px;
                            }
                        }

                        @include respond-to(lg) {
                            @include vertical-align(-60%);

                            i {
                                font-size: 3em;
                                padding-bottom: 6px;
                            }
                        }
                    }
                }

                .share-panel-container {
                    width: 100%;

                    @include respond-to(xxs) {
                        i {
                            font-size: 1em;
                            padding-bottom: 0;
                            //center icon in the middle of container
                            @include vertical-align(-50%);
                        }
                    }

                    @include respond-to(xs) {
                        @include vertical-align(50%);

                        i {
                            font-size: 1.4em;
                            padding-bottom: 0;
                        }
                    }

                    @include respond-to(md) {
                        @include vertical-align(70%);

                        i {
                            font-size: 2.3em;
                            padding-bottom: 6px;
                        }
                    }
                }
            }

            li:hover {
                @include respond-to(md) {
                    -moz-transition: background .2s ease-in-out;
                    -o-transition: background .2s ease-in-out;
                    -webkit-transition: background .2s ease-in-out;
                    transition: background .2s ease-in-out;
                    background: lighten($HomeRed,7%);
                }
            }

            li:active {
                background: $HomeRed;
            }
        }

        #nomineeDetailsProfileSharePanel.in {
            left: 0;
            background: rgba(224, 224, 224, 0.6);
        }

        .nominee-details-profile-pic {
            width: 100%;
            height: auto;
        }
    }

    .btn-nominee-info-panel {
        background-color: $navbar-logo-gray;
        height: 40px;
        font-size: 1.2em;
        font-weight: 400;

        @include respond-to(xs) {
            font-size: 1em;
        }

        @include respond-to(sm) {
            font-size: 1.6em;
        }
    }
}

.voteBtnDetails {
    font-family: $font-family-base;
    background: transparent;
    padding: 3px 0 3px;
    margin: 30px 0;
    color: white;
    border: 2px solid white;
    line-height: 32px;
    text-align: center;
    width: 100%;

    @include respond-to(md) {
        margin: 30px 50%;
    }
}

//Profile inactive styles
.details-container.inActive {
    .row-eq-height, .voteBtn {
        opacity: .5;
    }

    .share-li {
        &:hover {
            @include respond-to(md) {
                //TODO: change important to selector with higher specificity
                background: #313131 !important;
            }
        }
    }

    .nominee-details-share-panel {
        li:hover {
            background: #313131;
        }

        a {
            pointer-events: none;
        }
    }
}

//Share panel styles
.nominee-details-share-panel {
    margin: 20px auto;

    > li {
        border-right: 1px solid white;
        width: 33.3%;
        color: white;
        background: $nominee-details-profile-bg;

        @include respond-to(xxs) {
            height: 120px;
        }

        @include respond-to(xs) {
            height: 110px;
        }

        @include respond-to(sm) {
            height: 70px;
        }

        @include respond-to(md) {
            height: 90px;
        }

        @include respond-to(lg) {
            height: 110px;
        }

        .share-panel-container {
            padding: 8% 0;
            @include vertical-align(70%);

            p {
                margin: 4px 0 auto;
            }

            .nominee-details-share-panel-text-mobile {
                font-size: 1.9em;
            }
        }
    }

    li:hover {
        @include respond-to(md) {
            -moz-transition: background .2s ease-in-out;
            -o-transition: background .2s ease-in-out;
            -webkit-transition: background .2s ease-in-out;
            transition: background .2s ease-in-out;
            background: lighten($HomeRed,7%);
        }
    }

    li:active {
        background: $HomeRed;
    }
}

.share-image {
    height: 40px;
    cursor: pointer;
}

//comment styles
.comments {
    .comment-row-container {
        margin-bottom: 10px;
        display: none;

        .nominee-details-comment-pic {
            width: 100%;
        }
    }

    .nominee-details-comment-text {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
}

.load-more-container.details {
    .show-more {
        margin: 10px 0 40px;

        img {
            width: 50%;
            height: auto;
        }

        p {
            font-size: .8em;
        }
    }
}


//poster cover and flyer styles
.nominee-details-thumb {
    width: 100%;
    height: auto;
}

.nominee-details-fb-cover {
    margin-bottom: 10px;
}

.nominee-details-thumb-container {
    .thumb-left {
        margin-right: -9px;
    }
}

.nominee-details-fbCover-text {
    margin-top: 10px;
    margin-bottom: 100px;
}

//bottom text stles
.bottom-prize-text-container {
    margin-top: 50px;
}

.mobile-view-details-btn {
    margin: 5px 0;
    border: none;
    height: 50px !important;
    color: white;
}
