﻿//=====================================================================
//  Header styles
//=====================================================================
.header-bg {
    background: $header-bg;
    padding: 0px;
}

.header-container {
    &.image-header {
        margin-top: 0;
        @include vertical-align(-15%);

        @include respond-to(sm) {
            @include vertical-align(-15%);
        }

        @include respond-to(md) {
            @include vertical-align(-30%);
        }

        @include respond-to(lg) {
            @include vertical-align(-35%);
        }
    }
}

.non-index-banner {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-img {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .header-btn {
        padding-bottom: 10%;
    }
}

.frontpage-title {
    text-align: center;
    font-family: $font-family-base;
    font-weight: 300;
    color: white;

    p, h1 {
        letter-spacing: 1.3px;
        margin-bottom: 2%;

        @include respond-to(xxs) {
            font-size: 30px;
            margin-top: 10px;
        }

        @include respond-to(xs) {
            font-size: 45px;
            margin-top: 20px;
        }

        @include respond-to(sm) {
            font-size: 50px;
            margin-left: 50px;
            margin-top: 30px;
        }

        @include respond-to(md) {
            font-size: 55px;
            margin-left: 0;
            margin-top: 0;
        }

        @include respond-to(lg) {
            font-size: 65px;
            margin-left: 70px;
        }
    }
}

.frontpage-text {
    color: white;
    text-align: center;
    font-family: $font-family-base;
    margin-top: 2.5%;

    p, h2 {

        @include respond-to(xxs) {
            font-size: 1em;
            width: 100%;
        }

        @include respond-to(xs) {
            font-size: 1.0em;
            width: 100%;
        }

        @include respond-to(sm) {
            font-size: 1.1em;
        }

        @include respond-to(md) {
            font-size: 1.2em;
        }

        @include respond-to(lg) {
            font-size: 1.3em;
        }
    }
}

.btn-header {
    font-family: $font-family-base;
    background: transparent;
    padding: 4px 0 4px;
    margin: 15px auto 30px;
    color: white;
    border: 1px solid white;
    line-height: 32px;
    text-align: center;

    @include respond-to(xxs) {
        height: 10px;
        width: 150px;
        font-size: 12px;
        padding: 0 0 30px;
        margin: -10px auto 5px;
    }

    @include respond-to(xs) {
        height: 30px;
        width: 120px;
        font-size: 12px;
        padding: 0 0 30px;
        margin: -10px auto 5px;
    }

    @include respond-to(sm) {
        height: 30px;
        width: 160px;
        padding: -5px 0 10px;
        margin: -10px auto 5px;
    }

    @include respond-to(md) {
        height: 40px;
        width: 200px;
        margin: -15px auto 30px;
        padding: 4px 0 4px;
        font-size: 16px;
    }

    @include respond-to(lg) {
        height: 40px;
        width: 200px;
        margin: 15px auto 30px;
    }
}

.index-container {
    position: absolute;
    background-color: $HomeRed;
    bottom: 0;
    color: white;
    left: 0;
    opacity: 0.8;
    width: 100%;

    input {
        background-color: transparent;
    }
}

// index search bar desktop
.form-inline-desktop-index {
    margin-top: 15px;
    margin-bottom: 15px;

    label {
        width: 35vw;
        font-family: $font-family-base;
        font-size: 1.6vw;
        margin-top: 5px;
        margin-left: 35px;

        @include respond-to(md) {
            font-size: 1.4vw;
        }

        @include respond-to(lg) {
            font-size: 1.1vw;
            margin: 5px 0 5px 0;
        }
    }

    .input-group {
        width: 100%;
        border: 1px solid white;
        margin-left: 30px;

        @include respond-to(lg) {
            margin-top: 2px;
        }

        .phrase {
            position: absolute;
            padding-right: 30px;
            border: 0;
            height: 30px;
            box-shadow: none;
            font-size: 1.8vw;
            width: 85%;
            text-overflow: ellipsis !important;

            @include respond-to(sm) {
                font-size: 0.95vw;
            }

            @include respond-to(md) {
                font-size: 1.1vw;
            }

            @include respond-to(lg) {
                font-size: 0.7vw;
                width: 95%;
            }
        }

        *::-webkit-input-placeholder {
            color: white;
        }

        *:-moz-placeholder {
            color: white;
        }

        *::-moz-placeholder {
            color: white;
        }

        *:-ms-input-placeholder {
            color: white;
        }
    }

    .btn-search {
        height: 30px;
        background-color: transparent;

        img {
            position: absolute;
            height: 30px;
            margin: -14px -19px;
        }
    }

    .btn-top-15 {
        background-color: transparent;
        border: 1px solid white;
        margin-left: 20px;
        color: white;
        height: 32px;

        @include respond-to(lg) {
            margin-top: 2px;
        }
    }
}

.form-horizontal-mobile-index {
    margin-top: 20px;
    margin-bottom: 20px;

    label {
        width: 100%;
        font-family: $font-family-base;
        font-size: 1.5rem;
    }

    .searchInput {
        margin-bottom: 0;
        padding-left: 40px;
        padding-right: 30px;
        background-color: $HomeDarkGrey;
    }

    .input-group {
        position: relative;

        .phrase {
            background-color: $HomeDarkGrey;
            padding-top: 5px;
            border: 0;
            height: 50px;
            box-shadow: none;
            font-size: 1em;
            text-overflow: ellipsis !important;
            color: white;
        }

        *::-webkit-input-placeholder {
            color: white;
        }

        *:-moz-placeholder {
            /* FF 4-18 */
            color: white;
        }

        *::-moz-placeholder {
            /* FF 19+ */
            color: white;
        }

        *:-ms-input-placeholder {
            /* IE 10+ */
            color: white;
        }
    }

    .btn-search {
        height: 50px;
    }

    img {
        overflow: visible;
        height: 50px;
        margin: -25px;
    }


    .btn-top-15 {
        width: 100%;
        height: 50px;
        background-color: $HomeRed;
        margin-top: 10px;
        color: white;
    }
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nominate-btn {
    @include respond-to(xxs) {
        font-size: 100%;
    }
}

.nom-title {
    text-align: center;
    font-family: $font-family-base;
    font-weight: 300;

    @include respond-to(xxs) {
        font-size: 17px;
        margin-top: 3%;
    }

    @include respond-to(xs) {
        font-size: 45px;
    }

    @include respond-to(sm) {
        font-size: 50px;
    }

    @include respond-to(md) {
        font-size: 55px;
    }

    @include respond-to(lg) {
        font-size: 65px;
    }
}

.nom-text {
    color: white;
    text-align: center;
    font-family: $font-family-base;
    margin-top: 2.5%;

    @include respond-to(xxs) {
        font-size: 0.72em;
        margin-top: 0%;
    }

    @include respond-to(xs) {
        font-size: 0.8em;
    }

    @include respond-to(sm) {
        font-size: 1.1em;
    }

    @include respond-to(md) {
        font-size: 1.2em;
    }

    @include respond-to(lg) {
        font-size: 1.3em;
    }
}

.accept-title {
    text-align: center;

    @include respond-to(md) {
        margin-top: 5%;
    }
}

.accept-text {
    text-align: center;
}

.details-title {
    @include respond-to(md) {
        margin-top: 100%;
    }
}

.header-img-details {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px,;
}

.details-header {
    background-image: url(../../Content/Images/home/Home-header-bcgr.jpg);
    background-position: center top;
    font: $font-family-base;

    @include respond-to(md) {
        padding-top: 5%;
        padding-bottom: 3%;
    }
}
