﻿//=====================================================================
//  index styles
//=====================================================================
.loader {
    margin: 50px 0 120px 0;
}

.nominee-header-height {
    height: 100px;
    overflow: hidden;
}

.home-text-font {
    font-family: $font-family-base;
    font-weight: 400;
}

.load-more-container {
    p {
        color: black;
        margin-top: 10px;
        font-weight: 600;
    }
    &:hover, &:focus {
        text-decoration: none;
    }
    .show-more {
        margin: 50px 0 0 0;
    }
}

//Made a custom col because of the gutters bootstrap makes which are impossible to get rid of in this version of bootstrap
.custom-box {
    text-align: center;
    display: inline-block;
}

.nominee-header {
    font-weight:500;
    font-size: 26px;
}

.nominee-description {
    font-weight: 400;
    font-size: 14px;

}

.box-margins {
    margin-left: 0.8em;
}

.nominee-container {
    font-family: $font-family-base;
    box-sizing: border-box;
    margin-top: 6.25em;
    @include respond-to(xxs) {
        margin-top: 1em;
    }
    .nominee-index-profile-pic {
        width: 100%;
        height: 300px;
        padding-bottom: 100%;
        background-image: url("/Content/Images/no-image.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        //Overlay for link and grayscale...
        .picture-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            filter: grayscale(100%) !important;
            a {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
        //Red bottom overlay.
        .picture-bottom-overlay {
            position: absolute;
            background-color: $HomeRed !important;
            bottom: 0;
            color: white;
            left: 0;
            opacity: 0.8;
            width: 100%;
            height: 50px;
            .info-panel-container {
                h5 {
                    font-size: 1em;
                    margin-bottom: 0;
                    text-align: center;
                }
                p {
                    font-size: 0.8em;
                }
                h4 {
                    margin-top: 16px;
                    font-weight: 200;
                    font-size: 1.2em;
                }
                .fixed-icon-size {
                    height:30px !important;
                    width: 30px !important;
                }
                .mail-share {
                    margin-right: .2em;
                }
                .fb-share {
                    margin-left: .2em;
                }
                .text-share {
                    margin-left: 0.2em;
                    margin-right: 0.2em;
                }
                img {
                    position: relative;
                    height: 30px;
                    margin-top: 10px;
                    margin-right: 5px;
                    cursor: pointer;
                    @include respond-to(sm) {
                        height: 25px;
                    }
                    @include respond-to(md) {
                        height: 21px;
                        margin-top: 13px;
                    }
                    @include respond-to(lg) {
                        height: 30px;
                        margin-top: 10px;
                    }
                }
                .lead {
                    @include respond-to(xxs) {
                        font-size: 1.2em;
                    }

                    @include respond-to(xs) {
                        font-size: 2.5em;
                    }

                    @include respond-to(sm) {
                        font-size: 1em;
                    }

                    @include respond-to(md) {
                        font-size: 1.3em;
                    }

                    @include respond-to(lg) {
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}

.nominee-info {
    background-color: $HomeLightGrey;
    font-family: $font-family-base;
    height: auto;
    padding-bottom: 1em;

    @include respond-to(sm) {
        min-height: 280px;
    }

    .wrapper {
        text-align: center;
        h4 {
            margin: 10px;
            @include respond-to(xxs) {
                font-size: 20px;
                line-height: 1.1;
            }
            @include respond-to(xs) {
                font-size: 20px;
                line-height: 1;
            }
            @include respond-to(sm) {
                font-size: 20px;
            }
            @include respond-to(md) {
                font-size: 20px;
            }
            @include respond-to(lg) {
                font-size: 20px;
            }
        }
    }
    .comment-container {
        text-align: center;
        width: 100%;
        margin-top: 5px;
        height:130px;
        h4 {
            margin: 5px auto auto auto;
        }
    }
}

//vote button styles
.voteBtn {
    font-family: $font-family-base;
    background: transparent;
    color: black;
    border: 1px solid black;
    line-height: 32px;
    text-align: center;
    @include respond-to(xxs) {
        font-size: 1.2em;
    }
    @include respond-to(xs) {
        font-size: 2em;
    }
    @include respond-to(sm) {
        font-size: 1.2em;
    }
}

.search-text {
    color: white;
}