﻿//================================================================
//  import mixins
//================================================================
@import 'utility/_mixins.scss';
@import 'utility/_media-queries.scss';

//================================================================
//  variables
//================================================================

$sub-link-bg: rgba(0,0,0,0);
$sub-link-link-color: #615e5e;
$sub-link-link-hover-color: $HomeRed;
$sub-link-link-hover-bg: rgba(0,0,0,0);

//navbar
$navbar-height: 30px;
$navbar-padding-vertical: 7px;
$navbar-collapse-max-height: 500px;
$navbar-mobile-border-color: #b4b4b4;
$lastMenuItemPadding: 40px;

//footer
$footerBackgroundColor: #d3d3d3;
$footerHeight: 120px;

//================================================================
//  Other
//================================================================

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

//================================================================
//  Navbar
//================================================================

//When collapsed
@media (max-width: 576px) {
    & .text-nav-link {
        font-size: 1em !important;

        a:active {
            -moz-transition: color .1s ease;
            -o-transition: color .1s ease;
            -webkit-transition: color .1s ease;
            transition: color .1s ease;
            color: $HomeRed;
        }
    }

    & .header-home {
        img {
            height: 0px;
        }
    }
}

.navbar-brand {
    padding: 0 0 0 10px;

    .navbar-logo {
        img {
            height: 100%;
        }
    }
}

.text-nav-link {
    font-family: $font-family-base;
    padding-top: 15px;
    font-size: 22px;
}

nav {
    height: auto;
}

.navbar-header {
    background-color: white;
    border: 0;
    width: 100%;

    @include respond-to(xxs) {
        height: 45px;
        margin-top: 15px;
        text-align: center;

        &.mobile-nav {
            margin-top: 0px;
        }
    }

    .header-home {
        margin-top: 10px;
        color: $HomeRed;

        @include respond-to(lg) {
            margin-bottom: 10px;
        }

        .home-text {
            font-weight: 500;
            letter-spacing: .1px;
            font-size: 10px;
            margin-top: 15px;
            margin-left: 10px;

            @include respond-to(lg) {
                font-size: 12px;
                margin-top: 17px;
            }
        }

        img {
            padding-left: 2px;
            height: 12px;
            padding-right: 3px;
            margin-top: 13px;

            @include respond-to(lg) {
                height: 15px;
                margin-top: 15px;
            }
        }
    }
    //Home logo.
    .header-home-logo {
        padding-left: 0px;

        .navbar-logo {
            img {
                height: auto;
                width: 100px;
                vertical-align: middle;
                margin-top: -5px;

                @include respond-to(md) {
                    width: 160px;
                    margin-top: -12px;
                }
            }
        }
    }

    .navbar-link-ul {
        border: none;
        box-shadow: none;
        padding-left: 25px;

        li {
            @include respond-to(md) {
                padding-left: 30px;
            }

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                color: $HomeRed;
                font-family: $font-family-base;
                border-bottom: 2px solid $HomeRed;
            }

            a:active {
                -moz-transition: color .1s ease;
                -o-transition: color .1s ease;
                -webkit-transition: color .1s ease;
                transition: color .1s ease;
                color: $HomeRed;
            }
        }
    }
}

.bg-white {
    background-color: white !important;
}

.navbar-toggle {
    margin-right: 0px;
    border: none;
    z-index: 101;
}

.navbar-margin {
    padding-left: 2%;
    padding-right: 2%;
}

//================================================================
//  Body and content
//================================================================

body {
    background: white;
    margin: 0;
    padding: 0;
}

.body-content {
    padding-top: 50px;
    padding-bottom: 50px;

    @include respond-to(mobile) {
        margin: 60px 0 0;
    }

    @include respond-to(desk) {
        margin: $navbar-height+$navbarSubRowHeight+($navbar-padding-vertical/2) 0 0;
    }

    padding: 0;
    margin-top: 80%;
    width: 100%;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

//================================================================
//  Footer
//================================================================

.footer {
    position: relative;
    background-color: $HomeLightGrey;
    font-family: $font-family-base;
    border: 0;
    margin-top: 30px;

    .box {
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
        right: 0;
        left: 0;

        .box-wrapper {
            margin-bottom: 20px;
        }

        .box-link-wrapper {
            color: $HomeDarkGrey;
            text-decoration: none;
            transition: background .4s ease-in;
        }
    }

    .box-top {
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .theme-1 {
        background: $HomeRed;
    }

    .image-1 {
        @include footer-image('online.jpg');
    }

    .image-2 {
        @include footer-image('facebook.jpg');
    }

    .box-header-primary {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.3;
        color: white;
        padding-top: 60px;
    }

    .box-content {
        height: 160px;

        @include respond-to(lg) {
            height: 150px;
        }

        .box-header-secondary {
            font-size: 1.6em;
            font-weight: 500;
            line-height: 1.2;
            margin: 0;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        p {
            margin: 0 20px 0 20px;
            font-size: 1.1em;
            font-weight: 400;
        }
    }

    .box-link {
        color: #0085B2;
        font-size: 17px;
        padding-top: 15px;
        margin: 0 0 15px;
    }

    .footer-section {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: 342px;
        padding: 50px 15px 50px;
        color: #000;
        font-size: 0.8em;

        @include respond-to(md) {
            font-size: 1.1em;
        }

        .footer-header {
            font-size: 1em;
        }

        .footer-items {
            list-style: none;
            margin: 0;
            padding: 0;

            .footer-item {
                padding-bottom: 0;

                @include respond-to(lg) {
                    padding-bottom: 5px;
                }

                .footer-link {
                    color: #555;
                    font-size: .8em;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .bottom-footer {
        background-color: white;
        border: 0;
        padding: 10px 0;

        h5 {
            font-size: 1.2rem;
            text-align: center;
            vertical-align: central;

            a {
                text-decoration: none;
                color: #555;
            }
        }

        img {
            height: auto;
            width: 60px;

            @include respond-to(lg) {
                height: auto;
                width: 100px;
            }

            @include respond-to(md) {
                height: auto;
                width: 80px;
            }
        }

        .bottom-container-hidden-xs {
            position: relative;

            .bottom-div-left {
                position: absolute;

                h5 {
                    display: inline;
                    padding-bottom: 15px;
                    margin-left: 20px;
                }
            }

            .bottom-div-middle {
                position: absolute;
                margin: 0;
                left: 48%;
            }

            .bottom-div-right {
                position: absolute;
                right: 20px;

                h5 {
                    display: inline;
                    padding-bottom: 15px;
                }
            }
        }

        .bottom-container-visible-xs {

            h5 {
                margin: 8px 0;
            }

            img {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }
}

.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

//================================================================
//  Modals
//================================================================

.modal-content {
    font-family: $font-family-base;
}

.home-header {
    font-family: $font-family-base;
    font-weight: 300;
}

.home-label-text {
    font-family: $font-family-base;
    font-weight: 400 !important;
}
