﻿//=====================================================================
//  details styles
//=====================================================================
.field-validation-error {
    display: block;
}

.text-error-picture {
    font-size: 1.3em;
    font-weight: 600;
}

.h2-nominate {
    font-family: $font-family-base;
    margin-bottom: 0;
    &.forening {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 300;
        font-size: 40px;
    }
}

.home-paragraph-text {
    font-family: $font-family-base;
    font-weight: 300;
}

.home-form-labels {
    font-family: $font-family-base;
    font-weight: 400 !important;
    font-size: 26px !important;
}

.h2-nominate-contact {
    margin-top: 40px;
    margin-bottom: 30px;
}

.h3-nominate {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: .9em;
}

h3.forening {
    margin-bottom: 20px;
}

.h4-nominate {
    font-weight: 500;
    margin-bottom: 0;
}

.h5-nominate {
    margin-top: 0;
    margin-bottom: 30px;

    a {
        color: black;
        text-decoration: underline;
        -moz-transition: color .1s ease-in-out;
        -o-transition: color .1s ease-in-out;
        -webkit-transition: color .1s ease-in-out;
        transition: color .1s ease-in-out;

        &:hover {
            color: $HomeRed;
        }
    }
}

.form-horizontal {

    .loader-row {
        margin-bottom: 50px;

        .fa-spinner {
            margin-bottom: 10px;
        }
    }

    .form-horizontal-left-col {
        @include respond-to(sm) {
            margin-bottom: 200px;
        }
    }

    .form-group {
        margin-bottom: 9px;
    }

    .control-label.text-left {
        text-align: left;
        padding-top: 0;
        padding-right: 10px;
        font-weight: 400;

        @include respond-to(xxs) {
            font-size: 1em;
        }

        @include respond-to(xs) {
            font-size: 1.2em;
        }

        @include respond-to(md) {
            font-size: 1.5em;
        }

        @include respond-to(lg) {
            font-size: 1.8em;
        }
    }

    textarea {
        max-width: 100%;
        min-height: 183px;
    }

    .form-control-nominate {
        height: 40px;
        border: 1px;
        border-style: solid;
        background: white;
        box-shadow: none;

        @include respond-to(xxs) {
            font-size: 0.9em;
        }

        @include respond-to(xs) {
            font-size: 1.0em;
        }

        @include respond-to(sm) {
            font-size: 1.1em;
        }

        @include respond-to(md) {
            font-size: 1.2em;
        }

        @include respond-to(lg) {
            font-size: 1.3em;
        }

        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        -webkit-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;

        &:focus {
            background: #dfdfdf;
        }
    }

    .image-container {
        .nominee-image {
            width: 100%;
            height: auto;
        }
    }

    #TosChkBox {
        margin: 13px 0 0;
    }

    .fa-spinner-fb-load {
        position: absolute;
        right: -20px;
        top: 10px;
    }

    .btn-nominate-submit-mobile {
        height: 50px;
        margin-bottom: 20px;

        &:hover {
            background: $HomeRed;
        }

        &.decline-button {
            margin-bottom: 10px;
        }
    }
}

.btn-upload {
    background: $btn-upload-bg;
    color: $btn-upload-color;
    overflow: hidden;
    position: relative;
    font-size: .8em;
    font-weight: 100;

    @include respond-to(xxs) {
        height: 50px;
        padding: 15px;
        font-size: 1.1em;
    }

    @include respond-to(xs) {
        height: 50px;
        padding: 15px;
        font-size: 1.1em;
    }

    @include respond-to(sm) {
        height: 40px;
        padding: 8px;
        font-size: 1.1em;
    }

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.text-nominate-bread-gray {
    color: #bdbdbd;
}

.no-padding-left {
    padding-left: 0;
}

.p-notification-text {
    font-size: 1.1em;
    font-weight: 400;
}

.p-margin-top {
    margin-top: 10px;
}

.accept-nomination-municipalities {
    .error-msg {
        display: none;
    }

    &.no-municipalities, &.single-municipality {
        .municipalities-dropdown {
            display: none !important;
        }

        .municipalities-input {
            visibility: visible;
        }
    }

    &.multiple-municipalities {
        .municipalities-dropdown {
            display: block;
        }

        .municipalities-input {
            visibility: hidden
        }
    }

    &.no-municipalities .error-msg {
        display: block;
    }

    &.single-municipality .municipalities-input {
        cursor: not-allowed;
        background: #f0f0f0;

        &:focus {
            background: #f0f0f0;
        }
    }

}
