﻿.thankspage-title {
    color: white;
    text-align: center;
    margin-top: 15px;

    @include respond-to(xs) {
        margin-top: 40px;
    }

    h1 {
        font-family: $font-family-base;
        font-weight: 500;
        font-size: 1.4em;

        @include respond-to(xs) {
            font-size: 1.6em;
        }

        @include respond-to(sm) {
            font-size: 2.6em;
        }

        @include respond-to(md) {
            font-size: 3.7em;
        }
    }
}

.thankspage-text {
    font-family: $font-family-base;
    margin-top: 30px;
    text-align: center;

    @include respond-to(xs) {
        font-size: 1.0em;
    }

    @include respond-to(sm) {
        font-size: 1.6em;
    }

    @include respond-to(md) {
        font-size: 2em;
    }
}

.h1-header-container {
    max-width: 650px;

    @include respond-to(md) {
        max-width: 1050px;
    }
}
