@font-face {
    font-family: 'Taz';
    src: url('/Content/site/utility/fonts/Taz_400_SemiLight/Taz_400_.eot');
    src: url('/Content/site/utility/fonts/Taz_400_SemiLight/Taz_400_.eot?#iefix') format("embedded-opentype"),
         url('/Content/site/utility/fonts/Taz_400_SemiLight/Taz_400_.woff') format("woff"),
         url('/Content/site/utility/fonts/Taz_400_SemiLight/Taz_400_.svg#Taz_400_') format("svg");
    font-weight: 400;
    font-style: normal
}
