﻿@model Presentation.Web.Models.Nominate.AcceptedViewModel
@{
    ViewBag.Title = "Tak! Du er nu nomineret";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 h1-header-container frontpage-title thanks">
                        <h1>Du har nu accepteret nomineringen</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 frontpage-text thanks">
                        <h2 class="text-black ">
                            Du kan finde din personlige kandidatside <a class="nominee-accepted-deatils-link text-goon-green" href="@Model.NomineeDetailsUrl">ved at trykke her</a>, og følge med i, hvor mange stemmer du får.
                            Husk at dele din side, for eksempel på Facebook, så du får så mange stemmer som muligt.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row accepted-bread-container">
        <div class="col-xs-7 col-xs-offset-1 ">
            <h3>
                &nbsp;
            </h3>
        </div>
    </div>
</div>

