﻿@model Presentation.Web.Models.Nominate.AcceptIldsjaelViewModel
@{
    ViewBag.Title = "Acceptér nominering";
    ViewBag.FacebookTrackingEvent = "PageView";
}

<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row header-container">
                    <div class="col-xs-12">
                        <p class="h1 h1-header  text-white">
                            Tillykke!
                        </p>
                        <p class="h1 h1-header  text-white">
                            Du er nomineret til <span class="text-header-yellow">Årets ildsjæl.</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <p class="p-header  text-header-p-gray">
                            @Model.NominatorName har nomineret dig til Årets ildsjæl.
                            Bliver du kåret som Årets ildsjæl, modtager du udover æren
                            en præmie på 25.000 kroner. Men først skal du acceptere din
                            nominering og tjekke de oplysninger, vi har om dig.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        @using (Html.BeginForm("Accept", "NominateIldsjael", FormMethod.Post, new { @id = "NominateForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Guid);
            @Html.HiddenFor(x => x.PictureUrl)
            @Html.HiddenFor(x => x.FacebookPictureUrl)
            @Html.HiddenFor(x => x.NominatorName)
            @Html.HiddenFor(x => x.Description)
            <input type="file" name="@Html.NameFor(x => x.Picture)" id="UploadBtn" accept="image/*" hidden class="hidden"/>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                <div class="row">
                    <div class="col-xs-12">
                        <h2 class=" h2-nominate">Accepter din nominering</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="font-myriad-pro-light h3-nominate"><b>Godkend eller ret de oplysninger, vi har om dig.</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="summary-container alert">
                            @Html.ValidationMessage("Picture", new { @class = " text-danger" })
                            @Html.ValidationMessage("Name", new { @class = " text-danger" })
                            @Html.ValidationMessage("MemberCount", new { @class = " text-danger" })
                            @Html.ValidationMessage("Description", new { @class = " text-danger" })
                            @Html.ValidationMessage("Email", new { @class = " text-danger" })
                            @Html.ValidationMessage("Phone", new { @class = " text-danger" })
                            @Html.ValidationMessage("Address", new { @class = " text-danger" })
                            @Html.ValidationMessage("Zipcode", new { @class = " text-danger" })
                            @Html.ValidationMessage("TosChkBox", new { @class = "text-danger " })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 form-horizontal-left-col">
                        <div class="form-group">

                            @Html.LabelFor(x => x.Name, new { @class = " col-xs-3 control-label text-left", @for = "inputName" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Name, new { @class = " form-control form-control-nominate", id = "inputName", placeholder = "Indtast dit fulde navn" })
                                @Html.ValidationMessage("Name", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Title, new { @class = " col-xs-3 control-label text-left", @for = "inputTitle" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Title, new { @class = " form-control form-control-nominate", id = "inputTitle", placeholder = @"Maks 2 ord, for eksempel ""Fodboldtræner""" })
                                @Html.ValidationMessage("Title", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" col-xs-3 control-label text-left">@Model.NominatorName's @Html.DisplayNameFor(x => x.Description)</label>
                            <div class="col-xs-9">
                                @Html.TextAreaFor(x => x.Description, new { @class = " form-control form-control-nominate", disabled = "disabled", @readonly = "readonly" })
                                @Html.ValidationMessage("Description", new { @class = " text-danger" })
                            </div>
                        </div>

                        @*photo upload mobile view*@
                        <div class="visible-xs">
                            <div class="form-group">
                                <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                    <div class="image-container">
                                        <img class="nominee-image" src="@Model.PictureUrl" />
                                    </div>
                                </div>
                                <div class="col-xs-9 col-xs-offset-3">
                                    <span class="btn btn-upload btn-block  UploadBtnTrigger">
                                        @Html.DisplayNameFor(x => x.Picture)
                                    </span>
                                </div>
                                <div class="col-xs-9 col-xs-offset-3 text-center">
                                    @Html.ValidationMessage("Picture", new { @class = " text-danger" })
                                </div>

                                <div>&nbsp;</div>

                                <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                    <h4 class=" h4-nominate">Eller indsæt Facebook-link</h4>
                                </div>
                                <div class="col-xs-9 col-xs-offset-3">
                                    <small class="font-myriad-pro-light"><i>For eksempel</i></small>
                                </div>
                                <div class="col-xs-1 col-xs-offset-2">
                                    <i class="fa fa-spinner fa-spin fa-2x fa-spinner-fb-load-mobile hidden facebook-load-image-spinner"></i>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="https://www.facebook.com/hrkillerich"
                                           class=" form-control form-control-nominate facebook-link-trigger"
                                           data-service-url="@Url.Action("GetFacebookProfilePictureUrl", "Facebook")" />
                                </div>
                                <div class="col-xs-9 col-xs-offset-3 text-center">
                                    @Html.ValidationMessage("", new { @class = " text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class=" h2-nominate-contact">Kontaktinformation</h2>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email, new { @class = " col-xs-3 control-label text-left", @for = "inputEmail" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Email, new { @class = " form-control form-control-nominate", id = "inputEmail", placeholder = "Indtast mailadresse" })
                                @Html.ValidationMessage("Email", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Phone, new { @class = " col-xs-3 control-label text-left", @for = "inputPhone" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Phone, new { @class = " form-control form-control-nominate", id = "inputPhone", placeholder = "Indtast telefonnummer" })
                                @Html.ValidationMessage("Phone", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(x => x.Address, new { @class = " col-xs-3 control-label text-left", @for = "inputAddress" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Address, new { @class = " form-control form-control-nominate", id = "inputAddress", placeholder = "Indtast adresse" })
                                @Html.ValidationMessage("Address", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Zipcode, new { @class = " col-xs-3 control-label text-left", @for = "inputZipcode" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Zipcode, new { @class = " form-control form-control-nominate", id = "inputZipcode", placeholder = "Indtast postnummer" })
                                @Html.ValidationMessage("Zipcode", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.City, new { @class = " col-xs-3 control-label text-left", @for = "inputCity" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.City, new { @class = " form-control form-control-nominate", id = "inputCity", placeholder = "Indtast bynavn" })
                                @Html.ValidationMessage("City", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-3">
                                <small>@Html.ValidationMessage("TosChkBox", new { @class = "text-danger " })</small>
                            </div>
                            <div class="col-xs-1 col-xs-offset-2 col-sm-1 col-sm-offset-3">
                                @Html.CheckBoxFor(x => x.TosChkBox, new { id = "TosChkBox" })
                            </div>

                            <div class="col-xs-8">
                                <h5>
                                    <small class=" h5-nominate">
                                        Jeg accepterer nomineringen og
                                        <a href="@Url.Action("IldsjaelAbout", "About")" target="_blank">betingelserne</a>.
                                        Vi kontakter dig kun i forbindelse med konkurrencen
                                        og deler ikke dine kontaktinformationer med andre.
                                    </small>
                                </h5>
                            </div>
                        </div>
                        <div class="row submit-row">
                            <div class="col-sm-9 col-sm-offset-3 hidden-xs">
                                <div class="row">
                                    @if (Model.IsAccepted)
                                    {
                                        <div class="col-sm-8">
                                            <input type="submit" class="btn btn-default btn-block" value="Gem oplysninger" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-6">
                                            <input type="submit" class="btn btn-default btn-block" value="Acceptér nominering" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="button" class="btn btn-danger btn-block decline-button" value="Afvis nominering" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="loader-row hidden">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-4 text-center hidden-xs">
                                    <i class="fa fa-spin fa-spinner fa-2x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-4 text-center hidden-xs">
                                    <p>Vent venligst, mens din profil oprettes. Gå ikke væk fra siden!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Upload panel deaktop*@
                    <div class="col-sm-5 hidden-xs">
                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                <div class="image-container">
                                    <img class="nominee-image" src="@Model.PictureUrl" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <span class="btn btn-upload btn-block font-myriad-pro-light UploadBtnTrigger">
                                    @Html.DisplayNameFor(x => x.Picture)
                                </span>
                            </div>
                            <div class="col-xs-12 text-center">
                                @Html.ValidationMessage("Picture", new {@class= " text-danger text-error-picture" })
                            </div>

                            <div>&nbsp;</div>

                            <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                <h4 class=" h4-nominate">Eller indsæt Facebook-link</h4>
                            </div>
                            <div class="col-xs-12">
                                <small class="font-myriad-pro-light"><i>For eksempel</i></small>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" placeholder="https://www.facebook.com/hrkillerich"
                                       class=" form-control form-control-nominate facebook-link-trigger"
                                       data-service-url="@Url.Action("GetFacebookProfilePictureUrl", "Facebook")" />
                                <i class="fa fa-spinner fa-spin fa-lg fa-spinner-fb-load hidden-xs facebook-load-image-spinner hidden"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <span class=" text-danger hidden facebook-load-image-error">Kunne ikke hente facebook-billede</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row submit-row">
                    <div class="col-xs-12 visible-xs">
                        @if (Model.CanDecline)
                        {
                            <input type="button" class="btn btn-danger btn-block btn-nominate-submit-mobile decline-button" value="Afvis nominering"/>
                        }
                        @if (Model.IsAccepted)
                        {
                            <input type="submit" class="btn btn-default btn-block btn-nominate-submit-mobile" value="Gem oplysninger"/>
                        }
                        else
                        {
                            <input type="submit" class="btn btn-default btn-block btn-nominate-submit-mobile" value="Acceptér nominering"/>
                        }

                    </div>
                </div>
                <div class="loader-row hidden">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center visible-xs">
                            <i class="fa fa-spin fa-spinner fa-2x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center visible-xs">
                            <p>Vent venligst, mens din profil oprettes. Gå ikke væk fra siden!</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="DeclineModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
                <h1>Er du helt sikker?</h1>
                <p>
                    Hvis du afviser din nominering, skal du nomineres igen, før du kan accepteres som nomineret.
                    Denne handling kan ikke fortrydes.
                </p>
                <a href="@Url.Action("Decline", new {Guid = Model.Guid})" class="btn btn-fb-modal  btn-vote-no-comment decline-btn">Jeg er sikker - afvis</a>

                <input type="button" class="btn btn-fb-modal  btn-vote-no-comment cancel-btn" value="Annullér" />
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script type="text/javascript" src="/Scripts/load-image.all.min.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominate.js"></script>
}
