﻿
@{
    ViewBag.Title = "Du er nu ude af konkurrencen";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 h1-header-container frontpage-title thanks">
                        <h1>Farvel!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row accepted-bread-container">
        <div class="col-xs-7 col-xs-offset-1 ">
            <h3>
                Du har nu afvist din nominering som <span class="text-header-yellow">Årets ildsjæl.</span>
            </h3>
        </div>
    </div>
</div>



