﻿@{
    Layout = "~/Views/Shared/_LayoutForening.cshtml";
    ViewBag.Title = "Der er ingen aktiv konkurrence";
    ViewBag.FacebookTrackingEvent = "PageView";
}
<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 header-container">
                        <p class="h1 h1-header  text-white">
                            Beklager!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row accepted-bread-container">
        <div class="col-xs-7 col-xs-offset-1 ">
            <h3>
                Vi kårer desværre ikke <span class="text-header-yellow">Årets Ildsjæl</span> i øjeblikket.
            </h3>
        </div>
    </div>
</div>

