﻿@model Presentation.Web.Models.Nominate.NominateIldsjaelViewModel
@{
    ViewBag.Title = "Nominér en Ildsjæl";
    ViewBag.FacebookTrackingEvent = "PageView";
}

<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row header-container">
                    <div class="col-xs-12">
                        <p class="h1 h1-header  text-white">
                            Hvem skal være
                        </p>
                        <p class="h1 h1-header  text-header-yellow">
                            Årets Ildsjæl?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <p class="p-header  text-header-p-gray">
                            Når du nominerer en kandidat,
                            deltager du automatisk i lodtrækningen
                            om 1 års forbrug af brændstof.*
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        @using (Html.BeginForm("Nominate", "NominateIldsjael", FormMethod.Post, new { @id = "NominateForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.FacebookPictureUrl)
            @Html.HiddenFor(x => x.ContestType)

            <input type="file" id="UploadBtn" accept="image/*" hidden class="hidden" name="@Html.NameFor(x => x.Picture)"/>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class=" h2-nominate">Nominér din kandidat</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 form-horizontal-left-col">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, new { @class = " col-xs-3 control-label text-left", @for = "inputName" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Name, new { @class = " form-control form-control-nominate", id = "inputName", placeholder = "Indtast navn" })
                                @Html.ValidationMessage("Name", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email, new { @class = " col-xs-3 control-label text-left", @for = "inputEmail" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Email, new { @class = " form-control form-control-nominate", id = "inputEmail", placeholder = "Indtast din kandidats e-mail-adresse" })
                                @Html.ValidationMessage("Email", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Title, new { @class = " col-xs-3 control-label text-left", @for = "inputTitle" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.Title, new { @class = " form-control form-control-nominate", id = "inputTitle", placeholder = @"Maks to ord, for eksempel ""Fodboldtræner""" })
                                @Html.ValidationMessage("Title", new { @class = " text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.City, new { @class = " col-xs-3 control-label text-left", @for = "inputCity" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.City, new { @class = " form-control form-control-nominate", id = "inputCity", placeholder = "Indtast bynavn" })
                                @Html.ValidationMessage("City", new { @class = " text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Description, new {@class = " col-xs-3 control-label text-left", @for = "inputDescription"})
                            <div class="col-xs-9">
                                @Html.TextAreaFor(x => x.Description, new {@class = " form-control form-control-nominate", placeholder = "Indtast din begrundelse"})
                                @Html.ValidationMessage("Description", new {@class = " text-danger"})
                                <h5>
                                    <small class="text-black">
                                        Inden din kandidat aktiveres på sitet, skal han/hun acceptere deltagelsen i konkurrencen.
                                        Vi sender derfor en mail til kandidaten med din begrundelse, så vedkommende kan acceptere nomineringen.
                                        Derfor er det vigtigt, at du skriver den rigtige mailadresse herunder, så vi kan kontakte kandidaten.
                                    </small>
                                </h5>
                            </div>
                        </div>

                        @*photo upload mobile view*@
                        <div class="visible-xs">
                            <div class="form-group">
                                <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                    @Html.HiddenFor(x => x.PictureUrl)
                                    <div class="image-container">
                                        <img class="nominee-image" src="@Model.PictureUrl"/>
                                    </div>
                                </div>
                                <div class="col-xs-9 col-xs-offset-3">
                                    <span class="btn btn-upload btn-block  UploadBtnTrigger">
                                        @Html.DisplayNameFor(x => x.Picture)
                                    </span>
                                </div>
                                <div class="col-xs-9 col-xs-offset-3 text-center">
                                    @Html.ValidationMessage("Picture", new { @class = " text-danger" })
                                </div>

                                <div>&nbsp;</div>

                                <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                    <h4 class=" h4-nominate">Eller indsæt Facebook-link</h4>
                                </div>
                                <div class="col-xs-9 col-xs-offset-3">
                                    <small class="font-myriad-pro-light"><i>For eksempel</i></small>
                                </div>
                                <div class="col-xs-1 col-xs-offset-2">
                                    <i class="fa fa-spinner fa-spin fa-2x fa-spinner-fb-load-mobile hidden facebook-load-image-spinner"></i>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="https://www.facebook.com/hrkillerich"
                                           class=" form-control form-control-nominate facebook-link-trigger"
                                           data-service-url="@Url.Action("GetFacebookProfilePictureUrl", "Facebook")" />
                                </div>
                                <div class="col-xs-9 col-xs-offset-3 text-center">
                                    @Html.ValidationMessage("", new { @class = " text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.NominatorName, new { @class = " col-xs-3 control-label text-left", @for = "inputNominatorName" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.NominatorName, new { @class = "form-control form-control-nominate", id = "inputNominatorName", placeholder = "Indtast både fornavn og efternavn" })
                                @Html.ValidationMessage("NominatorName", new { @class = " text-danger " })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.NominatorEmail, new { @class = " col-xs-3 control-label text-left", @for = "inputNominatorEmail" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.NominatorEmail, new { @class = " form-control form-control-nominate", id = "inputNominatorEmail", placeholder = "Indtast din e-mail-adresse" })
                                @Html.ValidationMessage("NominatorEmail", new { @class = "text-danger  " })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.NominatorPhone, new { @class = " col-xs-3 control-label text-left", @for = "inputNominatorPhone" })
                            <div class="col-xs-9">
                                @Html.TextBoxFor(x => x.NominatorPhone, new { @class = " form-control form-control-nominate", id = "inputName", placeholder = "Indtast dit telefonnummer" })
                                @Html.ValidationMessage("NominatorPhone", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-3">
                                <small>@Html.ValidationMessage("TosChkBox", new { @class = "text-danger " })</small>
                            </div>
                            <div class="col-xs-1 col-xs-offset-2 col-sm-1 col-sm-offset-3">
                                @Html.CheckBoxFor(x => x.TosChkBox, new {@class = "pull-right", id = "TosChkBox"})
                            </div>
                            <div class="col-xs-8">
                                <h5>
                                    <small class=" h5-nominate">
                                        Jeg nominerer kandidat og accepterer
                                        <a href="@Url.Action("IldSjaelAbout", "About")" target="_blank">betingelserne</a>
                                    </small>
                                </h5>
                            </div>
                            <div class="col-xs-8 col-xs-offset-3 col-sm-offset-4">
                                <h5 class=" h5-nominate">
                                    <small>
                                        Vi kontakter dig kun i forbindelse med kunkurrencen
                                        og deler ikke dine kontaktinformationer med andre
                                    </small>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 hidden-xs">
                                <input type="submit" class="btn btn-default btn-block" value="Send nominering" />
                            </div>
                        </div>
                    </div>

                    @*Upload panel desktop*@
                    <div class="col-sm-5 hidden-xs">
                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                @Html.HiddenFor(x => x.PictureUrl)
                                <div class="image-container">
                                    <img class="nominee-image" src="@Model.PictureUrl"/>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <span class="btn btn-upload btn-block font-myriad-pro-light UploadBtnTrigger">
                                    @Html.DisplayNameFor(x => x.Picture)
                                </span>
                            </div>
                            <div class="col-xs-12 text-center">
                                @Html.ValidationMessage("Picture", new { @class = " text-danger" })
                            </div>

                            <div>&nbsp;</div>

                            <div class="col-xs-9 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                                <h4 class=" h4-nominate">Eller indsæt Facebook-link</h4>
                            </div>
                            <div class="col-xs-12">
                                <small class="font-myriad-pro-light"><i>For eksempel</i></small>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" placeholder="https://www.facebook.com/hrkillerich"
                                       class=" form-control form-control-nominate facebook-link-trigger"
                                       data-service-url="@Url.Action("GetFacebookProfilePictureUrl", "Facebook")" />
                                <i class="fa fa-spinner fa-spin fa-lg fa-spinner-fb-load hidden-xs facebook-load-image-spinner hidden"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <span class=" text-danger hidden facebook-load-image-error">Kunne ikke hente facebook-billede</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 visible-xs">
                        <input type="submit" class="btn btn-default btn-block btn-nominate-submit-mobile" value="Send nominering" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p>
                    *1 års forbrug af brændstof udbetales som et Go'on brændstofkort, værdi 15.000 kr.
                    Vinderen findes ved lodtrækning blandt alle, der har stemt eller nomineret.
                    Du kan kun stemme en gang. Udtrækning sker primo juli.
                    Vinderen får direkte besked pr.mail og bliver offentliggjort på goon.nu.
                    Præmien kan ikke ombyttes til kontanter. Ansatte hos Go'on kan ikke deltage i konkurrencen.
                </p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Scripts/load-image.all.min.js"></script>
    <script type="text/javascript" src="/Scripts/site/nominate.js"></script>
}
