﻿@model Presentation.Web.Models.Nominate.ThanksViewModel
@{
    ViewBag.Title = "Tak for din nominering";
    ViewBag.FacebookTrackingEvent = "CompleteRegistration";
}
<div class="container-fluid header-bg">
    <div class="row">
        <div class="col-xs-12 bg-header-topbar-dark-gray">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 h1-header-container frontpage-title thanks">
                        <h1>Tak for din nominering</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 frontpage-text thanks">
                        <h2 class="text-black ">
                            Du får besked pr. mail, når <span class="text-header-yellow">@Model.NomineeName</span> har accepteret din nominering.
                            Husk, du gerne må nominere flere ildsjæle.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row accepted-bread-container">
        <div class="col-xs-7 col-xs-offset-1 ">
            <h3>
               &nbsp;
            </h3>
        </div>
    </div>
</div>

