﻿@model IEnumerable<Presentation.Web.Models.NomineeAdmin.ContestAdminViewModel>

@{
    ViewBag.Title = "Admin - Konkurrencer";
}

<div style="padding: 10px;">
    <p>Velkommen til administrationen.</p>
    <p>Benyt menuen i toppen.</p>
</div>
