﻿@model Presentation.Web.Models.NomineeAdmin.ContestAdminViewModel

@{
    ViewBag.Title = "Delete";
}

<div style="padding: 10px;">
    <h2>Slet konkurrence</h2>

    <h3>Er du sikker på, at du vil slette denne konkurrence? Dette vil også slette samtlige nominerede. Handlingen kan ikke fortrydes.</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Starts)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Starts)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ends)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ends)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>

        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Slet nu!" class="btn btn-default" /> |
                @Html.ActionLink("Tilbage til oversigten", "Index")
            </div>
        }
    </div>
</div>
