﻿@model IEnumerable<Presentation.Web.Models.NomineeAdmin.ContestAdminViewModel>

@{
    ViewBag.Title = "Admin - Konkurrencer";
}

<div style="padding: 10px;">

    <h2>Konkurrencer</h2>

    @Html.ActionLink("Opret konkurrence", "Create")

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Starts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Ends)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Starts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ends)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Vis stemmer", "ShowVotes", new { id = item.Id }) |
                    @Html.ActionLink("Ret", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
